<div class="register-form">
    <h1>Create Your Acccount</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    </p>
    <div class="form-field">
        <div class="input">
            Full Name*
        </div>
        <div class="input">
            Email*
        </div>
    </div>
    <div class="form-field">
        <div class="input">
            Password*
        </div>
        <div class="input">
            Confirm Password*
        </div>
    </div>

    
    <p>If you would like to explore campus courses near you, please provide your zipcode.</p>
    <div class="zipcode">
        
        <div class="input">
            Zipcode [Optional]
        </div>
    </div>
    <p>Already have an account? <strong>Login here</strong></p>
    <div class="checkbox-container">
        <section class="example-section">
            <mat-checkbox class="example-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit</mat-checkbox>
        </section>
    </div>
    <div class="frm-btn-container">           
            <button mat-raised-button color="warn">Start Learning</button> 
    </div>

</div>