<div class="login-form">
    <h1>Welcome back, Susan!</h1>
    <p>Login to your New Horizons account</p>
    <form class="form">
        <div class="frm-field-group">
            <div class="form-field">
                <div class="frm-input">
                    <input type="text" placeholder="Full Name *" />
                    <div class="alert  alert-danger">
                        Name is required
                    </div>
                </div>
            </div>
            <div class="form-field">
                <div class="frm-input">
                    <input type="password" placeholder="Enter Password" />
                </div>

            </div>
        </div>
        <p>Forgot My Password?</p>

        <div class="frm-btn-container">
            <button mat-raised-button color="warn">Login</button>
        </div>
        <p>or</p>

        <div class="frm-btn-container">
            <button mat-raised-button color="warn">Login with Facebook</button>
        </div>
        <div class="frm-btn-container">
            <button mat-raised-button color="warn">Login with LinkedIn</button>
        </div>
        <div class="frm-btn-container">
            <button mat-raised-button color="warn">Login with Google</button>
        </div>
    </form>
    <div>
        <p></p>
    </div>
</div>