<div class="main-container internal-page-wrapper myteam-page">
    <!-- Hero Banner section begin-->
    <div class="hero-banner">
        <div class="banner-overlay">
            <div class="container">
                <div class="row banner-content text-center">
                    <div class="col-12">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Banner section end-->


    <div class="content" role="main">
        <!-- Breadcrumb section begin-->
        <section class="stb-padding remove-t-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="breadcrumb">
                            <span><a class="txt-orange" aria-label="Home" routerLink="/home">Home</a></span> <span> / </span>
                            <span class="">My Team</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb section end-->


        <!-- Learn Improve section begin-->
        <section class="stb-padding remove-t-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-5">
                            <div class="content-wrapper text-center">
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card no-card-border">
                                <mat-card-header>

                                </mat-card-header>
                                <img class="image-circle" mat-card-image src='./assets/img/figure-1.png' alt="picture">
                                <mat-card-content>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-button class="link-orange" href="#">Learn
                                            more <mat-icon aria-hidden="false" aria-label="Example play_arrow icon">
                                                play_arrow</mat-icon></a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card no-card-border">
                                <mat-card-header>

                                </mat-card-header>
                                <img class="image-circle" mat-card-image src='./assets/img/figure-2.png' alt="Picture">
                                <mat-card-content>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-button class="link-orange" href="#">Learn
                                            more <mat-icon aria-hidden="false" aria-label="Example play_arrow icon">
                                                play_arrow</mat-icon></a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card no-card-border">
                                <mat-card-header>

                                </mat-card-header>
                                <img class="image-circle" mat-card-image src='./assets/img/figure-3.png' alt="Picture">
                                <mat-card-content>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat.
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-button class="link-orange" href="#">Learn
                                            more <mat-icon aria-hidden="false" aria-label="Example play_arrow icon">
                                                play_arrow</mat-icon></a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Learn Improve section end-->

        <!-- New Course section begin-->
        <section class="stb-padding bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <h2>Trending Certifications</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <owl-carousel-o [options]="customOptionsCourse">
                                <ng-template carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image src='./assets/img/figure-3.png' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">$1299</span>
                                            </div>
                                            <mat-card-content>
                                                <h4>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                            <!--<app-starrating [rating]='c.course_info.star_rating'></app-starrating>-->
                                                        </span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div>
                                                        <a mat-button class="btn-flat rounded">Online</a> <a mat-button
                                                            class="btn-flat rounded">Campus</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image src='./assets/img/figure-2.png' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">$499</span>
                                            </div>
                                            <mat-card-content>
                                                <h4>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                                <!--<app-starrating [rating]='c.course_info.star_rating'></app-starrating>-->
                                                            </span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div>
                                                        <a mat-button class="btn-flat rounded">Online</a> <a mat-button
                                                            class="btn-flat rounded">Campus</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image src='./assets/img/figure-1.png' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">$1399</span>
                                            </div>
                                            <mat-card-content>
                                                <h4>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                                    <!--<app-starrating [rating]='c.course_info.star_rating'></app-starrating>-->
                                                                </span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div>
                                                        <a mat-button class="btn-flat rounded">Online</a> <a mat-button
                                                            class="btn-flat rounded">Campus</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image src='./assets/img/figure-3.png' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">$599</span>
                                            </div>
                                            <mat-card-content>
                                                <h4>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                                <!--<app-starrating [rating]='c.course_info.star_rating'></app-starrating>-->
                                                            </span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div>
                                                        <a mat-button class="btn-flat rounded">Online</a> <a mat-button
                                                            class="btn-flat rounded">Campus</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <h2>New Certifications</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <owl-carousel-o [options]="customOptionsCourse">
                                <ng-template carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image src='./assets/img/figure-3.png' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">$1299</span>
                                            </div>
                                            <mat-card-content>
                                                <h4>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                                <!--<app-starrating [rating]='c.course_info.star_rating'></app-starrating>-->
                                                            </span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div>
                                                        <a mat-button class="btn-flat rounded">Online</a> <a mat-button
                                                            class="btn-flat rounded">Campus</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image src='./assets/img/figure-2.png' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">$499</span>
                                            </div>
                                            <mat-card-content>
                                                <h4>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                                    <!--<app-starrating [rating]='c.course_info.star_rating'></app-starrating>-->
                                                                </span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div>
                                                        <a mat-button class="btn-flat rounded">Online</a> <a mat-button
                                                            class="btn-flat rounded">Campus</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image src='./assets/img/figure-1.png' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">$1399</span>
                                            </div>
                                            <mat-card-content>
                                                <h4>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                                        <!--<app-starrating [rating]='c.course_info.star_rating'></app-starrating>-->
                                                                    </span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div>
                                                        <a mat-button class="btn-flat rounded" ng-disabled="disable">Online</a> <a mat-button
                                                            class="btn-flat rounded" ng-disabled="disable">Campus</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image src='./assets/img/figure-3.png' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">$599</span>
                                            </div>
                                            <mat-card-content>
                                                <h4>Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                                    <!--<app-starrating [rating]='c.course_info.star_rating'></app-starrating>-->
                                                                </span>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div>
                                                        <a mat-button class="btn-flat rounded">Online</a> <a mat-button
                                                            class="btn-flat rounded">Campus</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- New Course section end-->

        <!-- Partner Relationships section begin-->
        <section class="stb-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="client-heading">WE VALUE OUR PARTNER RELATIONSHIPS</h2>
                        <div class="client-container">
                            <div class="client-logo">
                                <owl-carousel-o [options]="customOptionsClients">
                                    <ng-template carouselSlide>
                                        <div class="clients"><img src="./assets/client-logo/CertNexus.png" alt="Cert Nexus" /></div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="clients"><img src="./assets/client-logo/Cisco.png" alt="Cisco" /></div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="clients"><img src="./assets/client-logo/CertNexus.png" alt="Cert Nexus" /></div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="clients"><img src="./assets/client-logo/MicroPartner.png" alt="Microsoft Partner" /></div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="clients"><img src="./assets/client-logo/VMWare.png" alt="VMWare" /></div>
                                    </ng-template>

                                </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Partner Relationships section end-->


        <!--Contact Form Section begin -->
        <section class="stb-padding sb-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="contact-form">
                            <h3>I need information for:</h3>
                            <div class="btn-container">
                                <button mat-raised-button class="btn-orange active rounded">My Self</button>
                                <button mat-raised-button class="rounded">My Team</button>
                            </div>
                            <div>
                                <form class="example-form" novalidate>
                                    <div>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>First Name</mat-label>
                                            <input matInput placeholder="First Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="table">
                                        <div class="">
                                            <select>
                                                    <option>US</option>
                                                    <option>UK</option>
                                                    <option>ASIA</option>
                                                    <option>AFRICA</option>
                                                </select>
                                            <!-- <select class="form-control" formControlName='country' id="contry">
                                                    <option *ngFor="let c of countries" [value]="c.name">{{c.name}}</option>
                                                </select>-->
                                        </div>
                                        <div class="">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Telephone</mat-label>
                                                <span matPrefix>+1 &nbsp;</span>
                                                <input type="tel" matInput placeholder="555-555-1234">
                                                <mat-icon matSuffix>mode_edit</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email">
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Message</mat-label>
                                            <input matInput placeholder="Message">
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Zipcode</mat-label>
                                            <input matInput #postalCode maxlength="6" placeholder="Zipcode">
                                            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="btn-container">
                                        <button mat-raised-button class="btn-orange">Contact Us</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-img">
                            <img src="./assets/img/figure-3.png" alt="image" border="0" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Form Section end -->

        <!-- Site Footer -->
        <footer class="stb-padding bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <ul role="list">
                            <li role="listitem"><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li role="listitem"><a href="#">Consectetur adipiscing elit</a></li>
                            <li role="listitem"><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li role="listitem"><a href="#">Dolore magna aliqua</a></li>
                            <li role="listitem"><a href="#">Ut enim ad minim veniams</a></li>
                        </ul>

                    </div>
                    <div class="col-sm-3">
                        <ul role="list">
                            <li role="listitem"><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li role="listitem"><a href="#">Consectetur adipiscing elit</a></li>
                            <li role="listitem"><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li role="listitem"><a href="#">Dolore magna aliqua</a></li>
                            <li role="listitem"><a href="#">Ut enim ad minim veniams</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul role="list">
                            <li role="listitem"><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li role="listitem"><a href="#">Consectetur adipiscing elit</a></li>
                            <li role="listitem"><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li role="listitem"><a href="#">Dolore magna aliqua</a></li>
                            <li role="listitem"><a href="#">Ut enim ad minim veniams</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul role="list">
                            <li role="listitem"><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li role="listitem"><a href="#">Consectetur adipiscing elit</a></li>
                            <li role="listitem"><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li role="listitem"><a href="#">Dolore magna aliqua</a></li>
                            <li role="listitem"><a href="#">Ut enim ad minim veniams</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Site Footer -->

    </div>

</div>