<div class="find-campus-container">
    <div>
        <h1>Find a Campus</h1>
        <h3>Search for a New Horizons location</h3>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Enter a region, state, city or zipcode</mat-label>
            <input matInput placeholder="Enter a region, state, city or zipcode">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div>
            <div class="campus-location">
                <div>
                    <div><span class="location-pointer"></span> <span class="location-name">New Horizons, Portland</span></div>
                </div>
                <div>
                    <div class="">
                            <button class="btn-orange" (click)='navigateToFranciese()'  mat-raised-button>Visit This Campus</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="map-container">
        <img src="/assets/img/map-pointer.JPG" alt="Location" />
    </div>
    <div>
        <span><mat-icon matSuffix>location</mat-icon> Current location: </span> <span class="map-location">New Horizons, Portland</span>
    </div>
    <div class="btn-wrapper">
        <button class="btn-orange" mat-raised-button>Keep Current Location</button>
    </div>
</div>