<div class="main-container internal-page-wrapper course-details-page">
    <!-- Hero Banner section begin-->
    <div class="hero-banner">
        <div class="banner-overlay">

            <div class="banner-content">
                <div>
                    <h1>Lorem ipsum dolor sit amet</h1>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute
                    </p>


                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <!-- Hero Banner section end-->

    <div class="content" role="main">
        <!--left right panel begins-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-7">

                    </div>
                    <div class="col-5">

                    </div>
                </div>
            </div>
        </section>
        <!--left right panel begins-->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="left-panel">
                        <div class="accordion-container">
                            <div class="example-action-buttons">
                                <button mat-button (click)="accordion.openAll()">Expand All</button>
                                <button mat-button (click)="accordion.closeAll()">Collapse All</button>
                            </div>
                            <mat-accordion class="example-headers-align" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Description
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </mat-panel-description>

                                </mat-expansion-panel>


                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Who should take this course?
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </mat-panel-description>

                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            What should i already know?
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip</p>

                                            <div>
                                                <ul>
                                                    <li><a href="#">Ut enim ad minim veniam</a></li>
                                                    <li><a href="#">Ut enim ad minim veniam</a></li>
                                                    <li><a href="#">Ut enim ad minim veniam</a></li>
                                                    <li><a href="#">Ut enim ad minim veniam</a></li>
                                                    <li><a href="#">Ut enim ad minim veniam</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </mat-panel-description>

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                        <div class="s3-padding-tb-30">

                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Skills you will learn</h2>
                                        <div class="skills-container">
                                            <div>
                                                <mat-icon>highlight</mat-icon>
                                            </div>
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                            </div>
                                        </div>
                                        <div class="skills-container">
                                            <div>
                                                <mat-icon>highlight</mat-icon>
                                            </div>
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                            </div>
                                        </div>
                                        <div class="skills-container">
                                            <div>
                                                <mat-icon>highlight</mat-icon>
                                            </div>
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="s3-padding-tb-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>About the instructor</h2>
                                        <div class="instructor-container">
                                            <div>
                                                <div class="instructor-avatar">
                                                    <mat-icon aria-label="Instructor Avatar">person</mat-icon>
                                                </div>
                                                <div class="instructor-name"><span>Alex Mills</span></div>
                                            </div>
                                            <div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip. Adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                    et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="s3-padding-tb-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Other courses taught by Alex Mills</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="course-picture">
                                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="other-course-details">
                                                <div class="course-info">
                                                    <div><span>By: Alex Mills</span></div>
                                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                                    <div><span>Length: 5 Days</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="course-picture">
                                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="other-course-details">
                                                <div class="course-info">
                                                    <div><span>By: Alex Mills</span></div>
                                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                                    <div><span>Length: 5 Days</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="course-picture">
                                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="other-course-details">
                                                <div class="course-info">
                                                    <div><span>By: Alex Mills</span></div>
                                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                                    <div><span>Length: 5 Days</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="course-picture">
                                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="other-course-details">
                                                <div class="course-info">
                                                    <div><span>By: Alex Mills</span></div>
                                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                                    <div><span>Length: 5 Days</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="btn-container">
                                            <button mat-raised-button class="btn-orange">View All <mat-icon aria-label="play_circle icon">chevron_right</mat-icon></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-panel">
                        <div class="course-info-wrapper">


                            <h2>Course Info</h2>
                            <div class="course-details-info">
                                <div class="course-info">
                                    <div><span>Level:</span></div>
                                    <div>
                                        <mat-icon> bar_chart</mat-icon>
                                    </div>
                                </div>
                                <div class="course-info">
                                    <div><span>Rating:</span></div>
                                    <div><span><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_border</mat-icon><mat-icon>star_border</mat-icon></span>                                        <span>(5782)</span></div>
                                </div>
                                <div class="course-info">
                                    <div><span>Offered:</span></div>
                                    <div><span>...</span></div>
                                </div>
                                <div class="course-btn-wrapper">
                                    <div><a mat-raised-button class="rounded" href="#">Online</a> <a mat-raised-button class="rounded"
                                            href="#">Campus</a></div>
                                </div>
                            </div>

                            <h3>Cost:</h3>
                            <div class="course-details-info">
                                <div class="course-info">
                                    <div><span><mat-icon>bar_chart</mat-icon></span><span>Online:</span></div>
                                    <div>
                                        <span>$199</span>
                                    </div>
                                </div>
                                <div class="course-info">
                                    <div><span><mat-icon>star</mat-icon></span><span>Campus:</span></div>
                                    <div><span>$250</span></div>
                                </div>
                            </div>

                            <h3>Length:</h3>
                            <div class="course-details-info">
                                <div class="course-info">
                                    <div><span><mat-icon>bar_chart</mat-icon></span><span>Online:</span></div>
                                    <div>
                                        <span>5 hours</span>
                                    </div>
                                </div>
                                <div class="course-info">
                                    <div><span><mat-icon>star</mat-icon></span><span>Campus:</span></div>
                                    <div><span>1 day</span></div>
                                </div>
                            </div>

                            <h3>Next Online Class:</h3>
                            <div class="course-details-info">
                                <div class="course-info">
                                    <div><span>April 12, 2020</span> <span>|</span> <span>1:00pm</span> </div>

                                    <div>
                                        <div><a mat-raised-button class="" href="#">Online LIVE</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="course-btn-wrapper">
                                <div><a mat-raised-button class="" href="#">View Other Dates</a></div>
                            </div>

                            <h3>Next Campus Class:</h3>
                            <div class="course-details-info">
                                <div class="course-info">
                                    <div><span>April 12, 2020</span> <span>|</span> <span>1:00pm</span> </div>

                                    <div>
                                        <div><a mat-raised-button class="" href="#">Campus</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="course-btn-wrapper">
                                <div><a mat-raised-button class="" href="#">View Other Dates</a></div>
                            </div>

                            <div class="course-btn-wrapper">
                                <div><a mat-raised-button class="" href="#">Add to cart</a></div>
                                <div class="r-align"><a mat-raised-button class="" href="#">Compare</a></div>
                            </div>
                        </div>

                        <div class="course-outline-wrapper">
                            <h2>Course Outline</h2>
                            <div class="accordion-container">
                                <mat-accordion class="example-headers-align" multi>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Course Topics
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                1h 30m
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                20m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Course Topics
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                1h 30m
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                20m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Course Topics
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                1h 30m
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                20m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Course Topics
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                1h 30m
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                20m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Course Topics
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                1h 30m
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                20m
                                            </div>
                                        </div>
                                        <div class="topic-details">
                                            <div>
                                                Lorem ipsum dolor sit amet
                                            </div>
                                            <div>
                                                30m
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image Left Content Right section begin-->

        <!-- Pathways section begin-->
        <section class="stb-padding s3-padding-tb-30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Pathways that include this course</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <div class="course-picture">
                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                    <div><span>Length: 5 Days</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <div class="course-picture">
                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                    <div><span>Length: 5 Days</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <div class="course-picture">
                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                    <div><span>Length: 5 Days</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <div class="course-picture">
                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                    <div><span>Length: 5 Days</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="btn-container">
                                <button mat-raised-button class="btn-orange">View All <mat-icon aria-label="play_circle icon">chevron_right</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pathways section end-->


        <!-- Students section begin-->
        <section class="stb-padding s3-padding-tb-30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>What students are saying</h2>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name</span> <span>|</span> <span>April 20, 2020</span> <span><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star_half">star_half</mat-icon></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name</span> <span>|</span> <span>April 20, 2020</span> <span><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star_half">star_half</mat-icon></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name</span> <span>|</span> <span>April 20, 2020</span> <span><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star_half">star_half</mat-icon></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name</span> <span>|</span> <span>April 20, 2020</span> <span><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star_half">star_half</mat-icon></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name</span> <span>|</span> <span>April 20, 2020</span> <span><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star">star</mat-icon><mat-icon aria-label="star_half">star_half</mat-icon></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-container">
                            <button mat-raised-button class="btn-orange">Learn more <mat-icon aria-label="play_circle icon">chevron_right</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Students section end-->

        <!-- Site Footer -->
        <footer class="stb-padding bg-light-gray">

            <div class="s-container">
                <div class="s-row s3-padding-lr-30">
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>

                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Site Footer -->

    </div>
</div>