<div class="main-container internal-page-wrapper course-details-page">
    <!-- Hero Banner section begin-->
    <div class="hero-banner" [ngStyle]="{'background': 'url(' + courseDetailsData?.course_outline.banner_image.url + ') no-repeat 0 0'}">
        <div class="banner-overlay">
            <div class="container">
                <div class="row banner-content">
                    <div class="col-12">
                        <h1>{{courseDetailsData?.title}}</h1>
                        <p>{{courseDetailsData?.brief_description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Banner section end-->

    <div class="content" role="main">
        <!--left right panel begins-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-panel">
                        <div class="accordion-container">
                            <!--<div class="example-action-buttons">
                                <button mat-button (click)="accordion.openAll()">Expand All</button>
                                <button mat-button (click)="accordion.closeAll()">Collapse All</button>
                            </div>-->
                            <mat-accordion class="example-headers-align" multi>
                                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Description
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <div>
                                            <p [innerHtml]='courseDetailsData?.course_detail?.description'></p>
                                        </div>
                                    </mat-panel-description>
                                </mat-expansion-panel>


                                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Who should take this course?
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <div>
                                            <p [innerHtml]='courseDetailsData?.course_detail?.who_should_take_this_course'>
                                            </p>
                                        </div>
                                    </mat-panel-description>

                                </mat-expansion-panel>
                                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            What should i already know?
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-panel-description>
                                        <div>
                                            <p [innerHtml]='courseDetailsData?.course_detail?.what_should_i_already_know'>
                                            </p>


                                        </div>
                                    </mat-panel-description>

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                        <div class="stb-padding remove-b-padding no-margin-lr">

                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Skills you will learn</h2>
                                        <div class="skills-container" *ngFor="let f of courseDetailsData?.skills_you_will_learn?.skill ">
                                            <div>
                                                <mat-icon>highlight</mat-icon>
                                            </div>
                                            <div>
                                                <p>{{f}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="stb-padding remove-b-padding no-margin-lr">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>About the instructor</h2>
                                        <div class="instructor-container" *ngFor="let instructor of courseDetailsData?.instructor">
                                            <div>
                                                <div class="instructor-avatar">
                                                    <img src='{{instructor.image.url}}' alt='{{instructor.first_name}}' border='0' />
                                                </div>
                                                <div class="instructor-name"><span>{{instructor.first_name}}</span>
                                                </div>
                                            </div>
                                            <div>
                                                <p [innerHtml]='instructor.bio'></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="stb-padding remove-b-padding no-margin-lr">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Other courses taught by Alex Mills</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="course-picture">
                                                <img src="./assets/img/course-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="other-course-details">
                                                <div class="course-info">
                                                    <div><span>By: Alex Mills</span></div>
                                                    <div><span>Level: </span><span>
                                                            <mat-icon aria-label="Level">insert_chart_outlined
                                                            </mat-icon>
                                                        </span></div>
                                                    <div><span>Length: 5 Days</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="course-picture">
                                                <img src="./assets/img/course-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="other-course-details">
                                                <div class="course-info">
                                                    <div><span>By: Alex Mills</span></div>
                                                    <div><span>Level: </span><span>
                                                            <mat-icon aria-label="Level">insert_chart_outlined
                                                            </mat-icon>
                                                        </span></div>
                                                    <div><span>Length: 5 Days</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="course-picture">
                                                <img src="./assets/img/course-3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="other-course-details">
                                                <div class="course-info">
                                                    <div><span>By: Alex Mills</span></div>
                                                    <div><span>Level: </span><span>
                                                            <mat-icon aria-label="Level">insert_chart_outlined
                                                            </mat-icon>
                                                        </span></div>
                                                    <div><span>Length: 5 Days</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="course-picture">
                                                <img src="./assets/img/course-4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div>
                                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="other-course-details">
                                                <div class="course-info">
                                                    <div><span>By: Alex Mills</span></div>
                                                    <div><span>Level: </span><span>
                                                            <mat-icon aria-label="Level">insert_chart_outlined
                                                            </mat-icon>
                                                        </span></div>
                                                    <div><span>Length: 5 Days</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="btn-container">
                                            <button mat-raised-button class="btn-orange">View All <mat-icon
                                                    aria-label="play_circle icon">chevron_right</mat-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-panel">
                        <div class="course-info-wrapper">
                            <h2>Course Info</h2>
                            <div class="course-details-info">
                                <div class="course-info">
                                    <div><span class="bold-txt">Level:</span></div>
                                    <div>
                                        {{courseDetailsData?.course_info?.level}}
                                        <mat-icon> bar_chart</mat-icon>
                                    </div>
                                </div>
                                <div class="course-info">
                                    <div><span class="bold-txt">Rating:</span></div>
                                    <!--<div><span><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_border</mat-icon><mat-icon>star_border</mat-icon></span>                                        <span>(5782)</span></div> -->
                                    <div>
                                        <span>
                                            <app-starrating [rating]='courseDetailsData?.course_info?.star_rating'>
                                            </app-starrating>
                                        </span>
                                    </div>
                                </div>
                                <div class="course-info">
                                    <div><span class="bold-txt">Offered:</span></div>
                                    <div><span>...</span></div>
                                </div>
                                <div class="course-btn-wrapper">
                                    <div><a *ngFor="let a of courseDetailsData?.course_info?.course_availability" mat-raised-button
                                            class="btn-flat rounded">{{a}}</a>

                                    </div>
                                </div>
                            </div>

                            
                            <div class="course-details-info">                                    
                                <div *ngIf="courseDetailsData?.course_info?.cost.online" class="course-info">
                                        <p><span class="info-title">Cost:</span> <span>{{courseDetailsData?.course_info?.cost.online}}</span></p>
                                    <!--<div><span>
                                            <mat-icon>bar_chart</mat-icon>
                                        </span><span>Online:</span></div>
                                    <div>
                                        <span>{{courseDetailsData?.course_info?.cost.online}}</span>
                                    </div>-->
                                </div>
                                <!--<div *ngIf="courseDetailsData?.course_info?.cost.campus" class="course-info">
                                    <div><span>
                                            <mat-icon>star</mat-icon>
                                        </span><span>Campus:</span></div>
                                    <div><span>{{courseDetailsData?.course_info?.cost.campus}}</span></div>
                                </div>-->
                            </div>

                            
                            <div class="course-details-info">
                                <div *ngIf="courseDetailsData?.course_info?.course_length?.online" class="course-info">
                                        <p><span class="info-title">Length:</span> <span>{{courseDetailsData?.course_info?.course_length.online}}</span></p>
                                    <!--<div><span>
                                            <mat-icon>bar_chart</mat-icon>
                                        </span><span>Online:</span></div>
                                    <div>
                                        <span>{{courseDetailsData?.course_info?.course_length.online}}</span>
                                    </div>-->
                                </div>
                                <!--<div *ngIf="courseDetailsData?.course_info?.course_length?.campus" class="course-info">
                                    <div><span>
                                            <mat-icon>star</mat-icon>
                                        </span><span>Campus:</span></div>
                                    <div><span>{{courseDetailsData?.course_info?.course_length?.campus}}</span></div>
                                </div>-->
                            </div>

                            <p class="info-title">Next Online Class:</p>
                            <div class="course-details-info">
                                <div class="course-info">
                                    <span>April 12, 2020 | 1:00 pm</span>
                                </div>
                                <div class="course-info">
                                    <span>April 13, 2020 | 2:00 pm</span>
                                </div>
                                <div class="course-info">
                                    <span>April 14, 2020 | 2:00 pm</span>
                                </div>
                                <div class="course-info">
                                    <span>April 15, 2020 | 3:00 pm</span>
                                </div>
                            </div>
                            <div class="course-btn-wrapper">
                                <div><a mat-raised-button (click)="openDialogScheduleCampus()" class="btn-orange btn-full">Select Your Schedule</a></div>
                            </div>

                            <p class="info-title">Next Campus Class:</p>
                            <div class="course-details-info">
                                <div class="course-info">
                                    <span>April 12, 2020 | 1:00 pm</span>
                                </div>
                                <div class="course-info">
                                    <span>April 13, 2020 | 2:00 pm</span>
                                </div>
                                <div class="course-info">
                                    <span>April 14, 2020 | 2:00 pm</span>
                                </div>
                                <div class="course-info">
                                    <span>April 15, 2020 | 3:00 pm</span>
                                </div>
                            </div>
                            <div class="course-btn-wrapper">
                                <div><a mat-raised-button (click)="openDialogScheduleCampus()" class="btn-orange btn-full">Select Your Schedule</a></div>
                            </div>

                            <div class="course-btn-wrapper">
                                <div><a mat-raised-button class="btn-orange" (click)="openDialogScheduleCampus()">Add to cart</a></div>
                                <div class="r-align"><a mat-raised-button class="btn-orange" (click)="openDialogScheduleCampus()">Compare</a></div>
                            </div>
                        </div>

                        <div class="course-outline-wrapper">
                            <h2>Course Outline</h2>
                            <div class="accordion-container">

                                <mat-accordion class="example-headers-align" multi>

                                    <mat-expansion-panel *ngFor="let co of courseDetailsData?.course_outline?.course_topic">

                                        <mat-expansion-panel-header>

                                            <mat-panel-title>

                                                {{co.lesson_title}}

                                            </mat-panel-title>

                                            <mat-panel-description>

                                                {{co.lesson_duration}}

                                            </mat-panel-description>

                                        </mat-expansion-panel-header>

                                        <div class="topic-details">

                                            <div>

                                                Lorem ipsum dolor sit amet

                                            </div>

                                            <div>

                                                30m

                                            </div>

                                        </div>

                                        <div class="topic-details">

                                            <div>

                                                Lorem ipsum dolor sit amet

                                            </div>

                                            <div>

                                                30m

                                            </div>

                                        </div>

                                        <div class="topic-details">

                                            <div>

                                                Lorem ipsum dolor sit amet

                                            </div>

                                            <div>

                                                20m

                                            </div>

                                        </div>

                                        <div class="topic-details">

                                            <div>

                                                Lorem ipsum dolor sit amet

                                            </div>

                                            <div>30m</div>

                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Image Left Content Right section begin-->

        <!-- Pathways section begin-->
        <section class="stb-padding remove-b-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Pathways that include this course</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <div class="course-picture">
                                <img src="./assets/img/course-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span>
                                            <mat-icon aria-label="Level">insert_chart_outlined</mat-icon>
                                        </span></div>
                                    <div><span>Length: 5 Days</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <div class="course-picture">
                                <img src="./assets/img/course-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span>
                                            <mat-icon aria-label="Level">insert_chart_outlined</mat-icon>
                                        </span></div>
                                    <div><span>Length: 5 Days</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <div class="course-picture">
                                <img src="./assets/img/course-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span>
                                            <mat-icon aria-label="Level">insert_chart_outlined</mat-icon>
                                        </span></div>
                                    <div><span>Length: 5 Days</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <div class="course-picture">
                                <img src="./assets/img/course-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span>
                                            <mat-icon aria-label="Level">insert_chart_outlined</mat-icon>
                                        </span></div>
                                    <div><span>Length: 5 Days</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="btn-container">
                            <button mat-raised-button class="btn-orange">View All <mat-icon
                                    aria-label="play_circle icon">chevron_right</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pathways section end-->



        <!-- Students section begin-->
        <section class="stb-padding ">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>What students are saying</h2>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <img src="./assets/img/instructor-1.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name | April 20, 2020</span><span>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star_half">star_half</mat-icon>
                                            </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <img src="./assets/img/instructor-2.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name | April 20, 2020</span> <span>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star_half">star_half</mat-icon>
                                            </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <img src="./assets/img/instructor-3.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name | April 20, 2020</span> <span>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star_half">star_half</mat-icon>
                                            </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <img src="./assets/img/instructor-4.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name | April 20, 2020</span> <span>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star_half">star_half</mat-icon>
                                            </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-course-container">
                            <div>
                                <div class="student-avatar">
                                    <img src="./assets/img/instructor-5.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <p class="course-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="other-course-details">
                                    <div class="course-info icon">
                                        <div><span>Student Name | April 20, 2020</span> <span>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star">star</mat-icon>
                                                <mat-icon aria-label="star_half">star_half</mat-icon>
                                            </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-container">
                            <button mat-raised-button class="btn-orange">Learn more <mat-icon
                                    aria-label="play_circle icon">chevron_right</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Students section end-->

        <!-- Site Footer -->
        <footer class="stb-padding bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Site Footer -->

    </div>
</div>