<div class="main-container internal-page-wrapper catalog-page">
    <!-- Hero Banner section begin-->
    <div class="hero-banner" [ngStyle]="{'background': 'url(' + courseBanner?.entry.banner_section.background_image.url +') no-repeat 0 0'}">
        <div class="banner-overlay">
            <div class="container">
                <div class="row banner-content">
                    <div class="col-12">
                        <h1>{{courseBanner?.entry?.banner_section.header_text}}</h1>

                        <p> {{courseBanner?.entry?.banner_section.short_description}}</p>

                        <div class="btn-container">
                            <div>
                                <button mat-raised-button class="btn-orange">{{courseBanner?.entry?.banner_section.cta_button.title}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Banner section end-->

    <div class="content" role="main">
        <!-- Catalog Cards section begin-->
        <section class="stb-padding s3-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="breadcrumb">
                            <span><a class="txt-orange" aria-label="Home" routerLink="/home">Home</a></span> <span> / </span>
                            <span class="">Courses</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="view-btn-container">
                            
                            <!--<ul>
                                <li *ngFor="let n of list" (click)="select(n)" [ngClass]="{active: isActive(n)}">
                                    <a>{{n}}</a>
                                </li>
                            </ul>-->
                            <button mat-raised-button (click)="showDiv.gridView = !showDiv.gridView;showDiv.listView = false;" class="btn-active">Grid View</button>
                            <button mat-raised-button (click)="showDiv.listView = !showDiv.listView;showDiv.gridView = false;" class="">List View</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-md-5">
                        <div class="select-container">
                            <div>
                                <select>
                                    <option>Level 1</option>
                                    <option>Level 2</option>
                                    <option>Level 3</option>
                                    <option>Level 4</option>
                                </select>
                            </div>
                            <div>
                                <select>
                                    <option>Level 1</option>
                                    <option>Level 2</option>
                                    <option>Level 3</option>
                                    <option>Level 4</option>
                                </select>
                            </div>
                            <div>
                                <select>
                                    <option>Level 1</option>
                                    <option>Level 2</option>
                                    <option>Level 3</option>
                                    <option>Level 4</option>
                                </select>
                            </div>
                            <div>
                                <select>
                                    <option>Level 1</option>
                                    <option>Level 2</option>
                                    <option>Level 3</option>
                                    <option>Level 4</option>
                                </select>
                            </div>
                        </div>

                    </div> -->
                    <div class="col-md-6">
                        <div class="search-box-container">
                            <div class="search-input">
                                <mat-form-field appearance="outline">
                                    <mat-label>Search a topic, path, course</mat-label>
                                    <input matInput [(ngModel)]='searchCatalog' placeholder="Search a topic, path, course">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="select-container-btn">
                            <button mat-raised-button class="btn-orange">Courses</button>
                            <button mat-raised-button class="">Certifications</button>
                            <button mat-raised-button class="">Pathways</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="select-container-btn">
                            <!-- <div class="text-center"><button mat-raised-button class="">More Filters</button></div> -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="container" *ngIf="showDiv.listView">
                <div class="row list-view-row" (click)='courseDetails(data)' *ngFor="let data of courseCatalogsData | catalogfilter: searchCatalog">
                    <div class="col-lg-2">
                        <div>
                            <div class="list-view-img">
                                <img class="image-square" src="{{data.course_outline.banner_image.url}}" alt="">
                                <div class="course-price">
                                    <ng-container *ngIf="data.course_info.cost.online; then onlineprice else campusprice">
                                    </ng-container>
                                    <ng-template #onlineprice>
                                        <span class="price-badge">{{data.course_info.cost.online}}</span>
                                    </ng-template>
                                    <ng-template #campusprice>
                                        <span class="price-badge">{{data.course_info.cost.campus}}</span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <p class="course-title">{{data.course_name}}</p>
                            <p>{{data.brief_description}}</p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: {{data.instructor[0].first_name}}</span></div>
                                    <div><span>Level: </span><span>{{data.course_info.level}}</span></div>
                                    <div>
                                        <span>
                                            <app-starrating [rating]='data.course_info.star_rating'></app-starrating>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="btn-wrapper text-center">
                            <a *ngFor="let ci of data.course_info.course_availability" mat-button class="btn-orange rounded" href="#">{{ci}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" *ngIf="showDiv.gridView">
                <div class="row">
                    <div class="col-lg-4" *ngFor="let data of courseCatalogsData |catalogfilter: searchCatalog">
                        <div class="card-wrapper clickable-card">
                            <mat-card (click)='courseDetails(data)' class="example-card">
                                <mat-card-header>

                                </mat-card-header>
                                <div class="img-container">
                                    <img class="image-square" mat-card-image src="{{data.course_outline.banner_image.url}}" alt="Picture">

                                </div>
                                <div class="course-price">
                                    <ng-container *ngIf="data.course_info.cost.online; then onlineprice else campusprice">
                                    </ng-container>
                                    <ng-template #onlineprice>
                                        <span class="price-badge">{{data.course_info.cost.online}}</span>
                                    </ng-template>
                                    <ng-template #campusprice>
                                        <span class="price-badge">{{data.course_info.cost.campus}}</span>
                                    </ng-template>
                                </div>

                                <mat-card-content>
                                    <h3>{{data.course_name}}</h3>
                                    <p>{{data.brief_description}}</p>
                                    <div class="course-detials-container">
                                        <div>
                                            <span>
                                                <app-starrating [rating]='data.course_info.star_rating'></app-starrating>
                                            </span>
                                        </div>
                                        <div>
                                            <span>Level: {{data.course_info.level}}</span>
                                        </div>
                                        <div>
                                            <ng-container *ngIf="data.course_info.course_length.online; then onlinelength else campuslength">
                                            </ng-container>
                                            <ng-template #onlinelength>
                                                <span>{{data.course_info.course_length.online}}</span>
                                            </ng-template>
                                            <ng-template #campuslength>
                                                <span>{{data.course_info.course_length.campus}}</span>
                                            </ng-template>
                                        </div>
                                    </div>


                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="card-btn-wrapper">
                                        <div>
                                            <span>By : {{data.instructor[0].first_name}}</span>
                                        </div>
                                        <div>
                                            <a *ngFor="let ci of data.course_info.course_availability" mat-button class="btn-orange rounded" href="#">{{ci}}</a>

                                        </div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                    </div>

                </div>
            </div>

            <div class="container">
                <div class="row s3-padding-lr-30">
                    <div class="col-12">
                        <mat-paginator (page)='changePage($event)' [length]='pageLength' [pageSize]="pageSize" [pageSizeOptions]="[6,10,25,50,100]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </section>
        <!-- Catalog Cards section end-->




        <!-- Site Footer -->
        <footer class="stb-padding bg-light-gray">

            <div class="container">
                <div class="row s3-padding-lr-30">
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>

                    </div>
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Site Footer -->

    </div>
</div>