<div class="main-container internal-page-wrapper catalog-page">
    <!-- Hero Banner section begin-->
    <div class="hero-banner">
        <div class="banner-overlay">
            <div class="banner-content">
                <div>
                    <h1>Lorem ipsum dolor sit amet</h1>

                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                    </p>

                    <div class="btn-container">

                        <div><button mat-raised-button class="btn-orange">Button</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Hero Banner section end-->

    <div class="content" role="main">



        <!-- Catalog Cards section begin-->
        <section class="stb-padding s3-padding-tb-70">

            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div>
                            <span>Breadcrumb item</span> / <span class="txt-orange">Breadcrumb item</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="view-btn-container">
                            <button mat-raised-button class="btn-orange btn-active">Grid View</button>
                            <button mat-raised-button class="">List View</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="select-container">
                            <div>
                                <select>
                                    <option>Level 1</option>
                                    <option>Level 2</option>
                                    <option>Level 3</option>
                                    <option>Level 4</option>
                                </select>
                            </div>
                            <div>
                                <select>
                                    <option>Level 1</option>
                                    <option>Level 2</option>
                                    <option>Level 3</option>
                                    <option>Level 4</option>
                                </select>
                            </div>
                            <div>
                                <select>
                                    <option>Level 1</option>
                                    <option>Level 2</option>
                                    <option>Level 3</option>
                                    <option>Level 4</option>
                                </select>
                            </div>
                            <div>
                                <select>
                                    <option>Level 1</option>
                                    <option>Level 2</option>
                                    <option>Level 3</option>
                                    <option>Level 4</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="search-box-container">
                            <div class="search-input">
                                <mat-form-field appearance="outline">
                                    <mat-label >Search a topic, path, course</mat-label>
                                    <input matInput  [(ngModel)]='searchCatalog' placeholder="Search a topic, path, course">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="select-container-btn">
                            <button mat-raised-button class="btn-orange">Courses</button>
                            <button mat-raised-button class="">Certifications</button>
                            <button mat-raised-button class="">Pathways</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="select-container-btn">
                            <div class="text-center"><button mat-raised-button class="">More Filters</button></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4" *ngFor="let data of courseCatalogsData |catalogfilter: searchCatalog">
                        <div class="card-wrapper">
                            <mat-card (click)='courseDetails(data)' class="example-card">
                                <mat-card-header>

                                </mat-card-header>
                                <div class="img-container">
                                    <img class="image-square" mat-card-image src="{{data.course_outline.banner_image.url}}" alt="Picture">
                                    <!-- <span class="price-badge">$200</span> -->
                                    <ng-container *ngIf="data.course_info.cost.online; then onlineprice else campusprice">
                                    </ng-container>
                                    <ng-template #onlineprice>
                                        <span class="price-badge">{{data.course_info.cost.online}}</span>
                                    </ng-template>
                                    <ng-template #campusprice>
                                        <span class="price-badge">{{data.course_info.cost.campus}}</span>
                                    </ng-template>
                                </div>

                                <mat-card-content>
                                    <h3>{{data.course_name}}</h3>
                                    <p>{{data.brief_description}}</p>
                                    <div class="course-detials-container">
                                        <div>
                                            <span>
                                                <app-starrating [rating]='data.course_info.star_rating'></app-starrating>
                                            </span>
                                        </div>
                                        <div>
                                            <span>Level: {{data.course_info.level}}</span>
                                        </div>
                                        <div>
                                            <ng-container *ngIf="data.course_info.course_length.online; then onlinelength else campuslength">
                                            </ng-container>
                                            <ng-template #onlinelength>
                                                <span>{{data.course_info.course_length.online}}</span>
                                            </ng-template>
                                            <ng-template #campuslength>
                                                <span>{{data.course_info.course_length.campus}}</span>
                                            </ng-template>
                                        </div>
                                    </div>


                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="card-btn-wrapper">
                                        <div>
                                            <span>By : {{data.instructor[0].first_name}}</span>
                                        </div>
                                        <div>
                                            <a *ngFor="let ci of data.course_info.course_availability" mat-button class="btn-orange rounded" href="#">{{ci}}</a>

                                        </div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                    </div>

                </div>
            </div>

            <div class="s-container">
                <div class="s-row s3-padding-lr-30">
                    <div class="s-col">
                        <mat-paginator (page)='changePage($event)' [length]='pageLength' [pageSize]="pageSize" [pageSizeOptions]="[5,10,25,100]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </section>
        <!-- Catalog Cards section end-->




        <!-- Site Footer -->
        <footer class="stb-padding bg-light-gray">

            <div class="s-container">
                <div class="s-row s3-padding-lr-30">
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>

                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Site Footer -->

    </div>
</div>