<div class="register-form">
    <form (ngSubmit)='registerUser()' [formGroup]='userRegistrationForm' novalidate class="form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Create Your Acccount</h1>
                    <p>Turn ambitions into marketable skills and business goals into tangible results with IT training from New Horizons.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="frm-input">
                        <input formControlName='full_name' type="text" placeholder="Full Name *" />

                        <div class="alert alert-danger" *ngIf=" !userRegistrationForm.get('full_name').valid && userRegistrationForm.get('full_name').touched">
                            Name is required
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="frm-input">
                        <input formControlName='email_address' type="text" placeholder="Email *" />

                        <div class="alert  alert-danger" *ngIf="userRegistrationForm.get('email_address').hasError('required') && userRegistrationForm.get('email_address').touched">
                            Email is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="frm-input">
                        <input formControlName='password' type="password" placeholder="Enter Password" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="frm-input">
                        <input formControlName='confirmpassword' type="password" placeholder="Again Enter Password" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>If you would like to explore campus courses near you, please provide your zipcode.</p>
                    <div class="zipcode">

                        <div class="frm-input">
                            <input formControlName="zip_code" type="text" placeholder="Zip Code [Optional]" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Already have an account? <a (click)="openDialogLogin()" class="btn-link"><strong>Login here</strong></a></p>
                    <div class="checkbox-container">
                        <span><input type="checkbox" class="input-checkbox"></span> Check here to indicate that you have read and agree to the terms of the <span class="txt-orange">New Horizons</span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="frm-btn-container">
                        <button class="btn-orange" mat-raised-button color="warn" [disabled]='userRegistrationForm.invalid'>Start Learning</button>
                    </div>
                </div>
            </div>

        </div>


    </form>
    <div *ngIf='registerUserFlag'>
        <p>Student Created Sucessfully with Id {{resData.uid}} and title {{resData.title}}</p>
    </div>
</div>