<div class="register-form">
    <div class="btn-close" mat-dialog-actions>
        <button #dialogCloseBtn mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
    <form (ngSubmit)='registerUser()' [formGroup]='userRegistrationForm' novalidate class="form" *ngIf='registerUserForm'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Create Your Account</h1>
                    <p>Excel beyond your experience. Learn what earns and advance your career with New Horizons.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="frm-input">
                        <input formControlName='full_name' type="text" placeholder="Full Name *" />

                        <div class="alert alert-danger" *ngIf=" !userRegistrationForm.get('full_name').valid && userRegistrationForm.get('full_name').touched">
                            Name is required
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="frm-input">
                        <input formControlName='email_address' type="text" placeholder="Email *" />

                        <div class="alert  alert-danger" *ngIf="userRegistrationForm.get('email_address').hasError('required') && userRegistrationForm.get('email_address').touched">
                            Email is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="frm-input">
                        <input formControlName='password' type="password" placeholder="Enter Password" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="frm-input">
                        <input formControlName='confirmpassword' type="password" placeholder="Again Enter Password" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>If you would like to explore campus courses near you, please provide your zip code.</p>
                    <div class="zipcode">

                        <div class="frm-input">
                            <input formControlName="zip_code" type="text" placeholder="Zip Code [Optional]" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Already have an account? <a (click)="openDialogLogin()" class="btn-link"><strong>Login here</strong></a></p>
                    <div class="checkbox-container">
                        <span><input type="checkbox" formControlName="accept_terms_and_conditions" class="input-checkbox"></span>                        Check here to indicate that you have read and agree to the terms of the <span class="txt-orange">New Horizons Customer Agreement</span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="frm-btn-container">
                        <button class="mat-warn" mat-raised-button color="warn" [disabled]='userRegistrationForm.invalid'>Start Learning</button>
                    </div>
                </div>
            </div>

        </div>


    </form>
    <div class="success-message" *ngIf='registerUserFlag'>
        <div class="success-icon">
            <mat-icon>check_circle</mat-icon>
        </div>
        <p class="register-user">Hi, {{resData.title}}</p>
        <p class="message-txt">Awesome, you're all set!</p>
        <div class="btn-container">
            <button class="btn-orange" mat-raised-button routerLink="/catalog">Continue My Learning</button>
        </div>
    </div>
</div>