<div class="main-container internal-page-wrapper franchise-page">
    <!-- Hero Banner section begin
    -->
    <div class="hero-banner skew" [ngStyle]="{'background-image': 'url(' + _franchise.banner_section.image.url + ')'}">
        <div class="banner-overlay">

            <div class="banner-content">
                <div>
                    <h1>@{{_franchise.banner_section.heading}}@</h1>

                    <p>{{_franchise.banner_section.description}} </p>
                    <div>
                        <a href="#" mat-raised-button class="btn-transparent btn-white">Watch</a>
                    </div>

                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <!-- Hero Banner section end-->

    <div class="content" role="main">

        <section class="stb-padding s3-padding-tb-30 breadcrumb remove-b-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <span>Breadcrumb item</span> / <span class="txt-orange">Breadcrumb item</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Image Left Content Right section begin-->
        <section class="stb-padding bg-light-gray s3-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="img-box-container-rl">
                            <div class="img-container rounded-corner-shadow">
                                <img [src]="_franchise.marketing_section_1.image.url" [alt]="_franchise.marketing_section_1.image.filename">

                            </div>
                            <div class="img-content-box">
                                <div>
                                    <h2>{{_franchise.marketing_section_1.heading}}</h2>
                                    <p>{{_franchise.marketing_section_1.description}}</p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </section>
        <!-- Image Left Content Rigth section end-->

        <!-- Contact section begin-->
        <section class="stb-padding bg-light-orange s3-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon-wrapper">
                            <div class="icon-box">
                                <mat-icon aria-hidden="false" aria-label="place">place</mat-icon>
                            </div>
                            <h3>Ut enim ad minim veniam</h3>
                            <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-wrapper">
                            <div class="icon-box">
                                <mat-icon aria-hidden="false" aria-label="phone">phone</mat-icon>
                            </div>
                            <h3>Ut enim ad minim veniam</h3>
                            <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-wrapper">
                            <div class="icon-box">
                                <mat-icon aria-hidden="false" aria-label="email">email</mat-icon>
                            </div>
                            <h3>Ut enim ad minim veniam</h3>
                            <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section end -->

        <!-- Learn Improve section begin-->
        <section class="stb-padding s3-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h2>{{_franchise.marketing_section_2.heading}}</h2>
                            <p>{{_franchise.marketing_section_2.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-wrapper icon-card">
                            <mat-card class="example-card no-card-border">
                                <div class="icon-circle-blue">
                                    <mat-icon aria-hidden="false" aria-label="photo_size_select_actual icon">photo_size_select_actual</mat-icon>
                                </div>
                                <mat-card-header>
                                </mat-card-header>

                                <mat-card-content>

                                    <h3>{{_franchise.marketing_section_2_modular_blocks[0].block_1.heading}} </h3>
                                    <p> {{_franchise.marketing_section_2_modular_blocks[0].block_1.description}} </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-raised-button class="btn-orange" [href]="_franchise.marketing_section_2_modular_blocks[0].block_1.cta_button_url">{{_franchise.marketing_section_2_modular_blocks[0].block_1.cta_button_text}}</a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-wrapper icon-card">
                            <mat-card class="example-card no-card-border">
                                <div class="icon-circle-blue">
                                    <mat-icon aria-hidden="false" aria-label="photo_size_select_actual icon">photo_size_select_actual</mat-icon>
                                </div>
                                <mat-card-header>

                                </mat-card-header>


                                <mat-card-content>

                                    <h3>{{_franchise.marketing_section_2_modular_blocks[1].block_2.heading}} </h3>
                                    <p> {{_franchise.marketing_section_2_modular_blocks[1].block_2.description}} </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-raised-button class="btn-orange" [href]="_franchise.marketing_section_2_modular_blocks[1].block_2.cta_button_url">{{_franchise.marketing_section_2_modular_blocks[1].block_2.cta_button_text}}</a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-wrapper icon-card">
                            <mat-card class="example-card no-card-border">
                                <div class="icon-circle-blue">
                                    <mat-icon aria-hidden="false" aria-label="photo_size_select_actual icon">photo_size_select_actual</mat-icon>
                                </div>
                                <mat-card-header>

                                </mat-card-header>


                                <mat-card-content>

                                    <h3>{{_franchise.marketing_section_2_modular_blocks[2].block_3.heading}} </h3>
                                    <p> {{_franchise.marketing_section_2_modular_blocks[2].block_3.description}} </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-raised-button class="btn-orange" [href]="_franchise.marketing_section_2_modular_blocks[2].block_3.cta_button_url">{{_franchise.marketing_section_2_modular_blocks[2].block_3.cta_button_text}}</a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <!-- Learn Improve section end-->



        <!-- New Course section begin-->
        <section class="stb-padding bg-dark-gray s3-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Popular Courses at Tampa Bay</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card">
                                <mat-card-header>

                                </mat-card-header>
                                <div class="img-container">
                                    <img class="image-square" mat-card-image src="./assets/img/figure-3.png" alt="Picture">

                                </div>
                                <div class="course-price">
                                    <span class="price-badge">$150</span>
                                </div>
                                <mat-card-content>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                                    <div class="course-detials-container">
                                        <div><span><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_half</mat-icon><mat-icon>star_border</mat-icon></span></div>

                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="card-btn-wrapper">

                                        <div><a mat-button class="btn-orange rounded" href="#">Campus</a><a mat-button class="btn-orange rounded"
                                                href="#">Online</a></div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card">
                                <mat-card-header>

                                </mat-card-header>
                                <div class="img-container">
                                    <img class="image-square" mat-card-image src="./assets/img/figure-4.png" alt="Picture">

                                </div>
                                <div class="course-price">
                                    <span class="price-badge">$150</span>
                                </div>
                                <mat-card-content>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                                    <div class="course-detials-container">
                                        <div><span><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_half</mat-icon><mat-icon>star_border</mat-icon></span></div>

                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="card-btn-wrapper">

                                        <div><a mat-button class="btn-orange rounded" href="#">Campus</a><a mat-button class="btn-orange rounded"
                                                href="#">Online</a></div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card">
                                <mat-card-header>

                                </mat-card-header>
                                <div class="img-container">
                                    <img class="image-square" mat-card-image src="./assets/img/figure-5.png" alt="Picture">

                                </div>
                                <div class="course-price">
                                    <span class="price-badge">$190</span>
                                </div>
                                <mat-card-content>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                                    <div class="course-detials-container">
                                        <div><span><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_border</mat-icon><mat-icon>star_border</mat-icon></span></div>

                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="card-btn-wrapper">

                                        <div><a mat-button class="btn-orange rounded" href="#">Campus</a><a mat-button class="btn-orange rounded"
                                                href="#">Online</a></div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="btn-wrapper text-center">

                            <div><a mat-button class="btn-orange rounded" href="#">View More Courses</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Popular Course section end-->

        <!-- New Course section begin-->
        <section class="stb-padding bg-light-gray s3-padding-tb-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>New Courses at Tampa Bay</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card">
                                <mat-card-header>

                                </mat-card-header>
                                <div class="img-container">
                                    <img class="image-square" mat-card-image src="./assets/img/figure-3.png" alt="Picture">

                                </div>
                                <div class="course-price">
                                    <span class="price-badge">$150</span>
                                </div>
                                <mat-card-content>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                                    <div class="course-detials-container">
                                        <div><span><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_half</mat-icon><mat-icon>star_border</mat-icon></span></div>

                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="card-btn-wrapper">

                                        <div><a mat-button class="btn-orange rounded" href="#">Campus</a><a mat-button class="btn-orange rounded"
                                                href="#">Online</a></div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card">
                                <mat-card-header>

                                </mat-card-header>
                                <div class="img-container">
                                    <img class="image-square" mat-card-image src="./assets/img/figure-4.png" alt="Picture">

                                </div>
                                <div class="course-price">
                                    <span class="price-badge">$150</span>
                                </div>
                                <mat-card-content>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                                    <div class="course-detials-container">
                                        <div><span><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_half</mat-icon><mat-icon>star_border</mat-icon></span></div>

                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="card-btn-wrapper">

                                        <div><a mat-button class="btn-orange rounded" href="#">Campus</a><a mat-button class="btn-orange rounded"
                                                href="#">Online</a></div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card">
                                <mat-card-header>

                                </mat-card-header>
                                <div class="img-container">
                                    <img class="image-square" mat-card-image src="./assets/img/figure-5.png" alt="Picture">

                                </div>
                                <div class="course-price">
                                    <span class="price-badge">$190</span>
                                </div>
                                <mat-card-content>
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                                    <div class="course-detials-container">
                                        <div><span><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_border</mat-icon><mat-icon>star_border</mat-icon></span></div>

                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="card-btn-wrapper">

                                        <div><a mat-button class="btn-orange rounded" href="#">Campus</a><a mat-button class="btn-orange rounded"
                                                href="#">Online</a></div>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="btn-wrapper text-center">
                            <div><a mat-button class="btn-orange rounded" href="#">View More Courses</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- New Course section end-->


        <!-- Image Left Content Right Over section begin-->
        <section class="stb-padding st-padding-70 remove-b-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h2>{{_franchise.marketing_section_3.heading}}</h2>
                            <h3>{{_franchise.marketing_section_3.sub_heading}}</h3>
                            <p>{{_franchise.marketing_section_3.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row remove-b-padding">
                    <div class="col-12 remove-b-padding">
                        <div class="img-box-container-lr content-box-over">
                            <div class="img-container">
                                <img [src]="_franchise.marketing_section_3_modular_blocks[0].block_1.image.url" alt="_franchise.marketing_section_3_modular_blocks[0].block_1.image.title">
                            </div>
                            <div class="img-content-box">
                                <div>
                                    <h2>{{_franchise.marketing_section_3_modular_blocks[0].block_1.heading}}</h2>
                                    <p>{{_franchise.marketing_section_3_modular_blocks[0].block_1.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Left Content Rigth Over section end-->

        <!-- Image Right Content Left Over section begin-->
        <section class="stb-padding sb-padding-70 remove-t-padding">
            <div class="container">
                <div class="row remove-t-padding">
                    <div class="col-12 remove-t-padding">
                        <div class="img-box-container-rl content-box-over">
                            <div class="img-container">
                                <img [src]="_franchise.marketing_section_3_modular_blocks[1].block_2.image.url" alt="image">
                            </div>
                            <div class="img-content-box">
                                <div>
                                    <h2>{{_franchise.marketing_section_3_modular_blocks[1].block_2.heading}}</h2>
                                    <p>{{_franchise.marketing_section_3_modular_blocks[1].block_2.description}}</p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </section>
        <!-- Image Right Content Left Over section end-->


        <!--Instructor section begin-->
        <section class="stb-padding sb-padding-70 bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 sb-padding-70">
                        <h2>Owl Carousel</h2>
                        <div class="instructor-carousel sb-padding-70">
                            <div class="instructor-details instruct-col">
                                <div>
                                    <p class="course-title">Lorem ipsum dolor sit amet</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    </p>
                                </div>

                            </div>
                            <div class="instructor-avatar instruct-col">
                                <img class="image-square" mat-card-image src="./assets/img/figure-5.png" alt="Picture">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <h2>Courses Taught by James Lawery</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div>
                            <div class="course-picture">
                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                .
                            </p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                    <div>
                                        <div class="btn-wrapper">
                                            <div><a mat-button class="btn-orange rounded" href="#">Campus</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <div class="course-picture">
                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                .
                            </p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                    <div>
                                        <div class="btn-wrapper">
                                            <div><a mat-button class="btn-orange rounded" href="#">Campus</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <div class="course-picture">
                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                .
                            </p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                    <div>
                                        <div class="btn-wrapper">
                                            <div><a mat-button class="btn-orange rounded" href="#">Campus</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <div class="course-picture">
                                <mat-icon aria-label="Course">photo_size_select_actual</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <p class="course-title">Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                .
                            </p>
                            <div class="other-course-details">
                                <div class="course-info">
                                    <div><span>By: Alex Mills</span></div>
                                    <div><span>Level: </span><span><mat-icon aria-label="Level">insert_chart_outlined</mat-icon></span></div>
                                    <div>
                                        <div class="btn-wrapper">
                                            <div><a mat-button class="btn-orange rounded" href="#">Campus</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-5">
                        <div class="btn-wrapper text-center">
                            <div><a mat-button class="btn-orange rounded" href="#">More Courses by James</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Instructor section -end-->
        <!-- Instructor Carousel section begin 
        <section class="stb-padding sb-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-12 sb-padding-70">
                        <h2>Testimonials</h2>
                        <div class="instructor-carousel sb-padding-70">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <div class="instructor-details instruct-col">
                                        <div>
                                            <p class="course-title">Exceeding Customers Expectation</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            </p>
                                        </div>

                                    </div>
                                    <div class="instructor-avatar instruct-col">
                                        <img class="image-square" mat-card-image src="./assets/img/figure-5.png" alt="Picture">

                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- Instructor Carousel section end -->
        <!--Events in City Section begin -->
        <section class="stb-padding sb-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="event-image">
                            <img class="image-square" src="./assets/img/figure-1.png" alt="Picture">
                            <div class="event-title"><span>Event Name</span><span> | </span><span>2-20-20</span></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="event-image">
                            <img class="image-square" src="./assets/img/figure-2.png" alt="Picture">
                            <div class="event-title"><span>Event Name</span><span> | </span><span>2-20-20</span></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="event-image">
                            <img class="image-square" src="./assets/img/figure-3.png" alt="Picture">
                            <div class="event-title"><span>Event Name</span><span> | </span><span>2-20-20</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Events in City Section end -->


        <!--Current Location Section begin -->
        <section class="stb-padding sb-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="current-location-wrapper">
                            <div class="location-overlay bg-light-orange">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="table">
                                                <div class="location-icon">
                                                    <mat-icon aria-hidden="false" aria-label="place">place</mat-icon>
                                                </div>
                                                <div>
                                                    <span>Current Location</span>
                                                    <h2>New Horizons Tampa Bay</h2>
                                                </div>
                                            </div>
                                            <div class="st-padding-70">
                                                <span>Find the one for you</span>
                                                <h3>Search for a different New Horizons Location</h3>
                                            </div>

                                            <div class="table">
                                                <div>
                                                    <div class="search-input">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Search by Region</mat-label>
                                                            <input matInput placeholder="Search by Region">
                                                            <mat-icon matSuffix>search</mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="search-input">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Search by Zipcode</mat-label>
                                                            <input matInput placeholder="Search by Zipcode">
                                                            <mat-icon matSuffix>search</mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>

                                            <div>

                                            </div>

                                        </div>
                                        <div class="col-6">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Current Location Section end -->

        <!--Contact Form Section begin -->
        <section class="stb-padding sb-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>I need information for:</h3>
                        <div class="contact-form">
                            <div class="btn-container">

                            </div>
                            <div>
                                <form class="example-form">
                                    <div>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>First Name</mat-label>
                                            <input matInput placeholder="First Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="table">
                                        <div class="">
                                            <select>
                                                <option>US</option>
                                                <option>UK</option>
                                                <option>ASIA</option>
                                                <option>AFRICA</option>
                                            </select>
                                        </div>
                                        <div class="">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Telephone</mat-label>
                                                <span matPrefix>+1 &nbsp;</span>
                                                <input type="tel" matInput placeholder="555-555-1234">
                                                <mat-icon matSuffix>mode_edit</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email">
                                        </mat-form-field>
                                    </div>
                                    <div>
                                            <mat-form-field class="example-full-width">
                                                    <mat-label>Zipcode</mat-label>
                                                    <input matInput #postalCode maxlength="6" placeholder="Zipcode">
                                                    <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                                                  </mat-form-field>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-img">
                            <img src="./assets/img/figure-3.png" alt="image" border="0" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Form Section end -->

        <!-- Site Footer -->
        <footer class="stb-padding bg-light-gray">

            <div class="s-container">
                <div class="s-row s3-padding-lr-30">
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>

                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                    <div class="s-col">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipiscing elit</a></li>
                            <li><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniams exercitation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Site Footer -->

    </div>
</div>