/* You can add global styles to this file, and also import other style files */
/*For Angular Popover*/
@import '~@angular/cdk/overlay-prebuilt.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px #000000;
}
html, body{
    margin:0;
    height: 100%;
    font-family: "Roboto", Helvetica, Arial, sans-serif,
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
.mat-h2, .mat-title, .mat-typography h2{
    font: 500 24px/32px Roboto, "Helvetica Neue", sans-serif;
}
.mat-h3, .mat-subheading-2, .mat-typography h3{
    font: 400 18px/24px Roboto, "Helvetica Neue", sans-serif; 
}
.mat-h4, .mat-subheading-1, .mat-typography h4{
    font: 400 16px/24px Roboto, "Helvetica Neue", sans-serif; 
}
p {
  margin: 0;
}

.spacer {
  flex: 1;
}
.main-container{
/*max-width:1600px;*/
margin:0 auto;
}
.main-container.internal-page-wrapper.franchise-page .content,
.main-container.internal-page-wrapper.catalog-page .content{
    margin-top:0px;
}
.navigation-container{
    background-color: rgba(22, 22, 22, 0.5);
    color: white;
    font-weight: 500;
/*max-width: 1600px;*/
    margin:0 auto;
    position: absolute;
    width:100%;     
}
.navigation-container .navbar{
    z-index: 100;
}
.navigation-container .navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,1);
}
.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link{
    border-bottom:2px solid #f54b1e;
    color:#ffffff;
    text-shadow: 1px 1px 0px #000000;
}

.hero-banner .mat-form-field-appearance-outline .mat-form-field-label,
.bg-light-orange .mat-form-field-appearance-outline .mat-form-field-label{
    color:#ffffff;
}
.table{
    display: table;    
}
.table > div{
    display: table-cell;
    vertical-align: middle;
    padding-right:5px;
}
.hero-banner{
    position: relative;
    top:0;
    background-size: cover!important;
    background-position: center center!important;    
}
.hero-banner h1{
    font-size:55px;
    line-height: 58px;
    font-weight: lighter;  
  }
.hero-banner .banner-content{
    /*display:flex;*/
    align-items: center;
    width:100%;
}
.hero-banner .banner-content .btn-container{
    display:flex;
    align-items: center;
    width:100%;
}
.hero-banner .banner-content .btn-container .mat-form-field-infix{
    width:350px;
}
.hero-banner .banner-content .btn-container button,
.hero-banner .banner-content .btn-container a{
    padding: 0.65em 0.75em 0.35em 0.75em;
    margin-top: -1.4em;
    text-shadow: 1px 1px 0px #000000;
}
.btn-wrapper a.btn-orange:not([href]),
.course-info-wrapper a.btn-orange:not([href]) {
    color: #ffffff;
    text-decoration: none;
}
.btn-wrapper a{
    cursor: pointer;
}
.hero-banner .banner-content .btn-container > div{
    margin:0px 15px 0px 0px;
}
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(255,255,255,0.2);   
}
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick{
    opacity:1;
}
.hero-banner .banner-content .btn-container .search-input .matInput{
    color: #ffffff;
}
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, 
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, 
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px;
}
/*.hero-banner .banner-content > div{
    width:50%;
}*/

.btn-container{
    margin:15px 0;
}
.btn-transparent{
    background: transparent;
}
.catalog-page .hero-banner .banner-overlay{
    background-color: rgba(22, 22, 22, 0.7);
}
.franchise-page .hero-banner{
    position: relative;
    z-index: 1;
}
.franchise-page .hero-banner .banner-overlay{
    /*background-color: rgba(9, 131, 245, 0.7);*/
}
.franchise-page .hero-banner.skew:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -50px;
    overflow: visible;
    width: 100%;
    height: 100px;
    background: #ffffff;
    z-index: 1;
    -webkit-transform: skewY(2.5deg);
    -moz-transform: skewY(2.5deg);
    -ms-transform: skewY(2.5deg);
    -o-transform: skewY(2.5deg);
    transform: skewY(2.5deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
  }
  .breadcrumb{
    background-color: #ffffff;
    z-index: 2;
    align-items: center;
  }
  .breadcrumb span{    
    padding-right: 10px;
  }
.catalog-page .hero-banner .banner-content,
.catalog-page .search-box-container{
    text-align: center;
}
.contact-form select{
    padding: 0px 5px 0px 5px;
    border: 0;
    border-bottom: 0px solid #444444;
    box-shadow: 0px 2px 10px 0px #cccccc;
    height: 35px;
    margin-bottom: 15px;
}
.contact-form .mat-form-field-appearance-legacy .mat-form-field-underline{
    border:0px;
    background-color: rgba(0, 0, 0, 0);
}
.contact-form .mat-form-field-flex{
    box-shadow: 0px 2px 10px 0px #cccccc;
    padding: 0 10px;
    border: 0px solid transparent;
}
.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 0px 25px 0px;
}
.select-container > div{
    width: 100%;
}
.s-container .s-row .s-col.col-right-panel{
    flex: 1;
}
.select-container{
    display: table;
    width:100%;
}
.select-container select{
    padding: 14px 14px;
    border:1px solid #eeeeee;
    border-radius:4px;
}
.select-container > div{
    display: table-cell;
    padding-right: 5px;   
}
.right-panel{    
    border:1px solid #cccccc;
}
.right-panel .course-info-wrapper{
    background-color: #f4f4f4;
    padding: 30px;
}
.right-panel .course-outline-wrapper h2{
    padding: 25px 25px 0px 25px;
}
.right-panel .course-outline-wrapper .mat-expansion-panel-header-title,
.accordion-container .mat-expansion-panel-header-title{
    font-weight:500;
    font-size: 14px;
}

.topic-details{
    display: flex;
}
.topic-details div{
    width:100%;
    padding:5px 0px;
}
.skills-container{
    display:table;
    width:100%;
    background-color: #f2f2f2;
    border:1px solid #cccccc;
    border-radius:4px;
    margin-bottom:10px;
}
.skills-container > div{
    display:table-cell;
    padding:10px;
}
.skills-container > div:first-child{
    width:50px;
    vertical-align: center;
}
.course-outline-wrapper .accordion-container .mat-expansion-panel-header-description {
    flex-grow: 1;
}
.course-outline-wrapper .accordion-container{
    margin-top: 20px;
}
.instructor-container, .other-course-container{
    display:table;
    width:100%;   
    margin-bottom:10px;
}
.instructor-container > div, .other-course-container > div{
    display:table-cell;
    padding:10px;
    vertical-align: top;
}
.checkout-course-view .other-course-container > div{
    padding:0px 20px 0px 0px;
}
.checkout-course-view{
    display: flex;
    flex-wrap: wrap;
}
.checkout-course-view h4{
    font-size:18px;
}
.checkout-course-view > div{
    flex-grow: 1;
    flex-basis: 0;
}
.checkout-course-view > div.half {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
 }
 .checkout-container .checkout-header{
    text-align: center;
    position: relative;
    margin:25px auto 50px;
 }
 .checkout-page .btn-container button{
    margin-right:10px;
 }
 .checkout-page .btn-container button .material-icons{
    font-size: 18px;
}
 .checkout-course-view .checkout-header .heading{
     text-align: center;
 }
 .checkout-page .course-cost{
    font-size: 24px;
 }
 .checkout-container .course-picture{
    height:70px;
 }
 .checkout-container{
     margin:35px auto;
 }
 .payment-description{
     border:1px solid #cccccc;
     padding:20px;
     max-height:200px;
     overflow-y: scroll;
     margin:35px auto;
 }
 .payment-total{
     direction: flex;
 }
 .payment-total > div{
    flex-grow: 1;
    flex-basis: 0;
}
.payment-total > div.third-half {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
 }
 .checkout-container .btn-container > div{
    margin-bottom: 10px;
 }
 .payment-form-wrapper div .mat-form-field{
    margin:5px 10px 5px 0px;
 }
 .confirmation-total{
     margin:35px auto;
 }
 .checkbox-options > div{
    margin:5px auto;
    width:100%; 
 }
 .checkbox-options > div .mat-checkbox{
    margin:5px 10px 5px 0px;  
 }
 .checkbox-options > div .right-align{
    float: right;  
 }
 .payment-details > div, .code-container > div{
     text-align: right;
     margin:5px auto;
 }
 .total-payment{
     font-size: 22px;
     font-weight: 500;
 }
 .subtotal, .fees{
    font-size: 16px;
    font-weight: 500;
 }
 .right-block{
     position: absolute;
     float: right;
     top: 10%;
     right:0;
 }
 .dt-container{
     display: flex;
 }
 .dt-container .material-icons{
    font-size: 14px;
}
 .dt-container > div{
    padding:5px 5px 5px 0px;
}
.course-picture{
    min-width:110px;
    width: 100%;
    height:110px;
    border:1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:25px;
}
.popover-container .course-picture{
    min-width:100px;
    height:70px;
}
.course-title{
    font-size: 16px;
    font-weight: 500;
    color: #f54b1e;    
}
.popover-container .popover{
    min-width:500px;
}
.popover-container .popover .arrow{
    left: 47.5%;
}
.course-cost{
    font-size: 18px;
    font-weight: 500;
}
.col-width-75{
    width:75%;
}
.cart-btn-container{
    margin:20px auto;
    text-align: center;
}
.cart-btn-container button{
    margin:10px auto;
    width:150px;
}
.location-zipcode{
    margin: 50px 50px;
    display: flex;
    justify-content: center;
}

.popover-header{
    display:flex;
    align-items: center;
    background-color: transparent;    
}
.popover-header > div{
    padding:5px;    
}
.popover-header h3{
    margin-bottom: .5rem
}
.owl-carousel.owl-drag .owl-item .card-wrapper{
    margin:15px;
    cursor: pointer;
}
.card-wrapper.clickable-card{   
    cursor: pointer;
}
.list-view-img{
    width: 150px;
    height: 100px;
    margin: 0px 15px 15px 0;    
}
.list-view-img img{
    width: 100%;    
}
.list-view-row .btn-wrapper{
    display: flex;
    justify-content: center;
}
.list-view-row .btn-wrapper a{
    margin: 0px 5px;    
}
.list-view-row{
    margin-bottom:20px;
    padding-bottom: 10px;
    border-bottom:1px solid #cccccc;
    cursor: pointer;
}
/*.cdk-focused {
    background-color: #f54b1e;
    color : #ffffff;
    z-index: 1;
  }*/

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
    background: #f54b1e;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: 25%;
    width: 100%;
    height:0px;
}
.owl-carousel .owl-nav .owl-prev .fa,
.owl-carousel .owl-nav .owl-next .fa{
    font: normal normal normal 20px/1 FontAwesome;
}
.owl-carousel .owl-nav .owl-prev{
    float: left;
}
.owl-carousel .owl-nav .owl-next{
    float: right;
}
.owl-theme .owl-nav [class*=owl-] {    
    background: #f54b1e8c;    
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #f54b1e;   
}
.testimonials-container{
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding:40px 0px;
}
.instructor-container .instructor-avatar{
    width:130px;
    height:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:130px;
    overflow: hidden;
    border:1px solid #cccccc;
    box-shadow: 0px 5px 8px 5px #eeeeee;
}
.student-avatar{
    width:80px;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:80px;
    overflow: hidden;
    border:1px solid #cccccc;
    box-shadow: 0px 5px 8px 5px #eeeeee;
}
.student-avatar .mat-icon{
    width: 40px;
    height: 40px;
}
.course-info span{
    /*padding-right:10px;*/
}
.course-info.icon .mat-icon{
    width: 15px;
    height: 15px;
}
.course-info.icon .material-icons{
    font-size: 15px;   
}
.student-avatar .material-icons{
    font-size: 40px;
    color:#cccccc;
}
.instructor-container .instructor-avatar .mat-icon{
    width: 90px;
    height: 90px;
}
.instructor-container .instructor-avatar .material-icons{
    font-size: 90px;
    color:#cccccc;
}
.select-container .search-box-container .search-input{
    text-align: center;
    margin: 0 15px;    
}
.search-box-container .search-input .mat-form-field{
    width:100%;   
}
.instructor-name{
    text-align: center;
    margin:13px auto;
    font-size: 18px;
}
.other-course-details .course-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.other-course-details .course-info {
    display: flex;
    align-items: center;
    justify-content: center center;
}
.other-course-details .course-info > div{
    width:100%;
    padding: 5px;
}
.select-container .search-box-container .search-input .mat-form-field{
    display: block;    
}
.select-container-btn{
    text-align: right;
    margin: 20px 0px;    
}
.catalog-page .select-container-btn button, .catalog-page .view-btn-container button{    
    border-radius:17px;
    margin-left:5px;
}

.catalog-page .view-btn-container button{
    margin-left: -25px;
    padding-left: 35px;
    padding-right: 35px;
}

.catalog-page .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin:0px;
    padding-bottom: 0px;
}
.select-container .frm-select{
    width:120px;
}
.catalog-page .hero-banner .banner-content{
    margin:0 auto;
    width:75%;
}
.catalog-page .hero-banner .banner-content .btn-container{
    margin-top:25px;
}
.catalog-page .hero-banner .banner-content > div {
    width: 100%;
}
.catalog-page .hero-banner .banner-content .btn-container {    
    justify-content: center;
}
.catalog-page .hero-banner .banner-content .btn-container button{
    padding: 0.45em .75em 0.45em .75em;
    margin-top: 0px;
    width:150px;
}
.view-btn-container{
    text-align: right; 
    margin: 0px 0px 30px 0px;
}

.btn-active{
    background-color:#f54b1e;
    color:#ffffff;
    position: relative;
    z-index: 1;
}

.mat-label{
    color:#ffffff;
}

.find-campus-container{
    text-align: center;
}
.find-campus-container .mat-form-field{
    width:60%;
}
.find-campus-container .map-location{
    font-size: 20px;
    font-weight: 500;
}
.find-campus-container .btn-wrapper{
    margin:10px 0px 0px 0px;
}
.find-campus-container .btn-wrapper button{
    padding:5px 25px;
    width:50%;
}
.map-container{
    margin: 20px auto;
    width:80%;
}
.map-container img{
    width:100%;   
}
.btn-link{
    cursor: pointer;    
}
.location-overlay{
    background-color: rgba(22, 22, 22, 0.2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
}
.hero-banner .banner-overlay{
    background-color: rgba(22, 22, 22, 0.7);
    min-height:450px;    
    position:relative;
    color:#ffffff;
    padding:10% 60px 5%;
    display: flex;
    align-items: center;
}
.checkout-page .hero-banner .banner-overlay {
    padding: 8% 30px 2%;
    min-height:100px;
}
.checkout-page .hero-banner .banner-content{
    width: auto;
    text-align: center;
}
.hero-banner .btn-white{
    background-color: rgba(255,255,255,0.3);
    border: 1px solid #ffffff;
    color:#ffffff
}
.hero-banner .border{
   border: 1px solid #ffffff;
}
.img-box-container-lr .img-box-container, .img-box-container-lr .img-content-box,
.img-box-container-rl .img-box-container, .img-box-container-rl .img-content-box{    
    width:50%;
}
.img-box-container-lr .img-container{
    float:left;
    width:48%;  
    padding: 0px 2% 0px 0px;
}
.img-box-container-rl .img-container{
    float:right;
    width:48%;  
    padding: 0px 0px 0px 2%;
}
.img-box-container-lr .img-container img, .img-box-container-rl .img-container img{
    width:100%;    
}
.img-container.rounded-corner-shadow{
    padding:0;
}
.rounded-corner-shadow{
    border-radius: 50px;
    box-shadow: 0px 10px 10px 5px #333333;
    overflow: hidden;    
}
.img-box-container-lr .img-content-box{
    float:right;
    width:48%;
}
.img-box-container-lr.content-box-over .img-container,
.img-box-container-rl.content-box-over .img-container{
    width:50%;
    padding: 0px 0px 0px 0px;
}
.img-box-container-lr.content-box-over .img-content-box,
.img-box-container-rl.content-box-over .img-content-box{
    position: relative;
    width:45%;
}

.img-box-container-lr.content-box-over .img-content-box div,
.img-box-container-rl.content-box-over .img-content-box div{
    position: absolute;
    border: 1px solid #cccccc;
    padding: 30px;
    margin-top: 6%;
    background-color: #ffffff;
}

.img-box-container-lr.content-box-over .img-content-box div{    
    left: -30%;
    top: 10%;   
}
.img-box-container-rl.content-box-over .img-content-box div{    
    right: -30%;
    top: 10%;   
}

.st-padding-70{
    padding-top:70px!important;   
}
.sb-padding-70{
    padding-bottom:70px!important;   
}
.remove-b-padding{
    padding-bottom: 0!important;
}
.remove-t-padding{
    padding-top: 0!important;
}
.remove-padding{
    padding:0!important;
}
.img-box-container-rl .img-content-box{
    float:left;
    width:48%;
}
.stb-padding{
    padding-top:70px;
    padding-bottom:70px;
    z-index: 1;
}

.course-detials-container{
    display:table;
    font-size:11px;
    width:100%;
    align-items: center;
    margin:10px -5px;
}
.course-detials-container > div{
    display:table-cell;
    padding:5px;
}
.course-details-info, .course-detials-container .card-btn-wrapper{
    margin-bottom:25px;
}
.course-details-info .course-info{
    display:flex;
    font-size:12px;
    width:100%;
    align-items: center;
    margin:10px 0px;
}
.course-details-info .course-info div{
    width:45%;
}
.course-details-info .course-info div:last-child{
    width:55%;
}

.course-detials-container .mat-icon{
    width:15px;
    height:15px;
}
.course-detials-container .material-icons{
    font-size:15px;
}
.course-details-info .material-icons{
    font-size:15px;
}
.card-btn-wrapper{
    display: table;
    align-items: center;
    font-size:12px;
    margin: 0px 0px;
    width:100%;        
}
.card-btn-wrapper > div{
    display: table-cell; 
}
.card-btn-wrapper > div .mat-button{
    line-height: 30px;
    border-radius:15px!important;
    text-align: right;
    font-size: 12px;
}
.card-btn-wrapper > div:last-child{    
    text-align: right;  
}
.course-btn-wrapper{
    display: flex;
    margin: 20px auto;
}
.course-btn-wrapper div{
    width:100%;
}
.r-align{
    text-align: right;
}
.course-btn-wrapper a{
    margin-right:5px;
    display: inline-block;     
}
.rounded, .course-btn-wrapper a.rounded, 
.contact-form .btn-container .mat-button.rounded{
    border-radius: 25px!important;     
}
.contact-form .btn-container button{
    margin-right: -35px;
    padding: 0px 45px;      
}
.contact-form .btn-container{
    padding: 15px 45px 15px 10px;   
}
.contact-form .btn-container button.active{
    z-index: 1;    
}
.contact-form h3,
.contact-form .btn-container{
    text-align: center;
}
.mat-card-actions .card-btn-wrapper{
    margin:0px 10px;
}
.contact-img{
   margin-left:20px;
   text-align: right;
}
.contact-form .contact-img img{
    width:100%;
}
.bg-light-gray{
    background-color:#4d4d4d;
    color:#ffffff;
}

.bg-light-orange{
    background-color:#f54b1e;
    color:#ffffff;
}
.bg-light-orange p, .bg-light-orange h2, .bg-light-orange h3,
.bg-light-orange span,
.bg-light-orange .mat-icon{    
    color:#ffffff;
}
.bg-light-orange .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.7);
}
.location-overlay{
    padding:60px 60px;
}
.location-overlay h2, .location-overlay h3{
    margin-top:0px;
}

.location-overlay .location-icon .mat-icon{
    width:50px;
    height: 50px;
}
.location-overlay .location-icon .material-icons{
    font-size: 50px;
}
.bg-dark-gray{
    background-color:#2b2b2b;
    color:#ffffff;
}
section, footer{
    width:100%;
}
.icon-wrapper{
    text-align: center;    
}
.icon-wrapper h3{
    text-transform: uppercase;
}
.icon-wrapper .icon-box .mat-icon{
    height: 50px;
    width: 50px;
}
.icon-wrapper .icon-box .material-icons{
    font-size: 50px;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;  
  color: white;
  font-weight: 500;
  z-index: 1;
  padding:0px 40px;
  background-color: #f54b1e;     
}

.toolbar a, .toolbar a:visited{
    font-weight: 400;
    padding:15px;
    color:#ffffff;
}
.toolbar .title{
    font-weight: 500;
}
.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 30px auto 0px;
  padding: 0px;  
  flex-direction: column;
  align-items: center;
}
.s-container{
    width:100%;
    max-width: 1140px;
    margin: 0 auto;
}
.s-container .s-row{    
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.s-container .s-row .s-col{    
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.s-container .s-row .s-col{    
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.s3-padding {
    padding: 8px 16px!important;
}
.s3-padding-tb-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.s3-padding-tb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.s3-padding-lr-30{
    padding-left: 30px;
    padding-right: 30px;
}
.s3-padding-tb-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.mat-card{
    background: transparent;
    margin-top:30px;
    margin-bottom:30px;
    padding:30px;

}
.mat-card .image-square{
    margin:0px 0px 15px 0px;
    width:100%;
}
.no-card-border{
    border:0px;
}
.example-card{
    margin:0px 0px;
    box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.img-container{
    position: relative;
       
}
.course-price{
    position: relative;
    margin-bottom: 20px; 
}
.course-price .price-badge{
    position: absolute;
    display: inline-block;
    padding: 5px 15px;
    color:#ffffff;
    background-color: #f54b1e;
    top: -15px;
    right: 15px;
    border-radius:5px;
}
.card-wrapper .img-container{
    width:100%;
    height: 150px;
    overflow: hidden;    
}
.card-wrapper .img-container img{
    width:100%;
}
.img-container .price-badge{
    position: absolute;
    display: inline-block;
    padding: 5px 15px;
    color:#ffffff;
    background-color: #f54b1e;
    bottom: -15px;
    right: 15px;
    border-radius:5px;
}
.card-wrapper{
    position: relative;
    margin-bottom:20px;   
}

.card-wrapper h3{
    line-height: 20px;
    font-size:18px;
    font-weight: 500;
}
.card-wrapper .card-badge{
    position: absolute;
    display: inline-block;
    padding: 3px 20px;
    color:#ffffff;
    background-color: #f54b1e;
    top: 10px;
    right: -20px;
    border-radius:15px;
}
.card-wrapper a.btn-orange,  .card-wrapper a.btn-orange:hover{
    color:#ffffff;
}
.card-wrapper a.link-orange,  .card-wrapper a.link-orange{   
    padding: 0 8px;
}
.card-wrapper a.link-orange{
    color:#f54b1e;    
}
.card-wrapper a.link-orange:hover{   
    text-decoration: underline;
    background-color: transparent!important; 
}

.card-wrapper .mat-card{
    padding:35px;
}
.card-wrapper.icon-card .mat-card{
    text-align: center;
}
.certification-card{
    border:1px solid #cccccc;
    margin:0px 15px; 
  }
  .certification-card .course-detials-container{
    margin:10px;
  }
  .mat-tab-container .card-wrapper{
    margin-top:20px;
  }
  .mat-tab-label {
    padding: 0 50px!important;
    border-radius: 25px!important;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-right: -45px;
    opacity: 1!important;
}
  .mat-tab-label-active {
    background-color: #f54b1e;    
    color: #ffffff;    
    z-index: 100!important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent!important;
}
  .mat-tab-container{
        margin-top:20px;
  }
  .mat-tab-container .s-container{
    max-width:960px;
  }
  .mat-card-image:first-child{
      margin:0px;
  }
.mat-card.certification-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.certification-card h3{
  font-size:18px; 
}
.card-btn-group.mat-card-actions{
    display:flex;
    align-items: center;    
}
.card-btn-group div{
   flex:auto;
   justify-content: center;   
}
.text-center{
    text-align: center;
}
.bg-light-gray .mat-card, .bg-light-gray .mat-card .mat-button,
.bg-dark-gray .mat-card, .bg-dark-gray .mat-card .mat-button{
    color:#ffffff;
}
.mat-card-image.image-circle{
    width:200px;
    height:200px;
    border-radius:100px;
    margin: 0px auto 20px auto;
    display:block;
    box-shadow: 0px 8px 10px 3px #cccccc;
    border: 2px solid #cccccc;
}
.icon-circle{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 0px auto 20px auto;
    display: block;
    border: 3px solid #1976d2;   
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle .mat-icon{
    width: 70px;
    height: 70px;
    font-size: 70px;
    color:#666666;   
}

.icon-circle-blue{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 0px auto 20px auto;
    display: block;
    border: 1px solid #f2f2f2;   
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px 0px #cccccc;
}

.icon-circle-blue .mat-icon{
    width: 70px;
    height: 70px;
    font-size: 70px;
    color:#f54b1e;   
}
.instructor-carousel{    
    width:90%;
    display: table;
    margin-bottom: 30px;
    margin:0 auto;  
}
.instructor-carousel .instruct-col{    
    display: table-cell;
    vertical-align: top;
}

.instructor-carousel .instructor-avatar{
    width:200px;
    height:200px;
    border-radius:100px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px #666666;
    margin:10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructor-carousel .instructor-avatar-small{
    width:100px;
    height:100px;
    border-radius:100px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 5px #666666;
    margin:10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instructor-carousel .instructor-avatar img,
.instructor-carousel .instructor-avatar-small img{
    width: auto;
    height: 110%;    
}

.instructor-carousel .instructor-details{    
    width:74%;
}
.instructor-carousel .instructor-details-content{
    width:85%;
}
.events-header{
    width:75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.event-image{
    position: relative;
    overflow:hidden;
    width:100%;
    border-radius:15px;
    margin-bottom: 20px;  
}
.event-image img{
    width:100%    
}
.instructor-carousel{
    width:70%;
}

.hero-banner .banner-overlay{
    padding: 10% 30px 5%;
}
.hero-banner h1 {
    font-size: 40px;
    line-height: 48px;   
}
.event-image .event-title{
    position: absolute;
    width:100%;
    padding:10px 20px;
    background-color: #f54b1e8f;
    color:#ffffff;
    bottom:0;
}
.btn-orange, .btn-orange:hover{
    background-color:#f54b1e;
    color:#ffffff;
}
.frm-btn-container button{
    border-radius:4px;
}
.txt-orange{    
    color:#F85D36;
}
.mat-button.link-orange{
    color:#f54b1e;
}
.heading-orange{
    color:#f54b1e;
}
.pathway-container{
    display:block;       
    padding-bottom:15px;    
}
.clearfix{
    clear: both;
}
.pathway-container .pathway-card{
    height:50px;
    width:30.5%;
    font-size:12px;
    text-align: center;
    display: inline-block;
    border:1px solid #f54b1e;
    border-top:15px solid #f54b1e;
    border-radius:5px;
    padding:10px;
    margin:10px 10px 0px 0px;   
}
.client-container{    
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding: 40px 0px;
}
.client-container .client-logo{
    /*-ms-flex: 1;   IE 10  
    flex: 1; */
}
.client-heading{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card-wrapper .example-card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

/*a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
a.btn-orange,
a.btn-orange:visited,
a.btn-orange:hover{
    color: #ffffff;
}
a.link-orange,
a.btn-orange:visited,
a.btn-orange:hover{
    color: #f54b1e;
}*/
footer a{
    color: #888888;
    text-decoration: none;
    font-size: 12px;
    font-weight: 200;
}
footer a:hover{
    color: #ffffff;
    text-decoration: none;
}
.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
footer ul{
    list-style-type: none;
  }

footer a {
  display: flex;
  align-items: center;
  color:#ffffff;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
.accordion-container{
    margin-top:70px;
}
.no-margin-lr{
    margin-left: -15px;
    margin-right:-15px;
}
.mat-dialog-container{
    min-width:550px;   
}
.course-details-page .content{
    margin-top:0px;
}
/*Form*/
.register-form{
    text-align: center;
    width:100%;
    margin: 0 auto;
    padding: 10px 30px;    
}
.login-form{
    text-align: center;
    width:90%;
    margin: 0 auto;       
}
.login-form .form-field .frm-input input{
    width:100%;
}
.register-form .frm-btn-container{
    text-transform: uppercase;    
    width:50%;
    margin:25px auto;
}
.login-form .frm-btn-container{
    text-transform: uppercase;    
    width:100%;
    margin:15px auto;
}
.register-form .frm-btn-container button{
    padding:15px 30px;
    width:80%;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
}
.login-form .frm-btn-container button{
    padding:5px 20px;
    width:80%;
    text-transform:none;
    font-weight: 100;
    font-size: 15px;
}
.form-field, .zipcode{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.form-field .input{
    padding:10px 20px;
    margin:0px 5px 20px 5px;
    border:1px solid #cccccc;
    width:100%;    
    text-align: left;
}
.form-field .frm-input, .zipcode .frm-input{
    margin:0px 10px 20px 10px;
    text-align: left;
    width:100%;
    height:70px;
}
.login-form .form-field .frm-input, .login-form .zipcode .frm-input{
    height:auto;
    margin:0px 0px 20px 0px;
}
.login-form .form-field.password-input .frm-input,
.login-form .form-field.password-input .frm-input input{
    height:auto;
    margin:0px 0px 0px 0px;
}
.txt-container{
    margin:15px 0px 15px 0px;
}
.campus-location{
    display: table;
    width:70%;
    margin:0 auto;
}
.campus-location > div{
    display: table-cell;
    padding:10px 0px;
    vertical-align: middle;
    text-align: center;
}
.location-pointer{
    width:15px;
    height:15px;
    background-color:#F85D36;
    border-radius:15px;
    display: inline-block;
    margin:0px 10px 0px 0px;
}
.location-name{
    font-size: 25px;
    color:#f54b1e;
}
.alert-danger{
    color:#ff0000;
    padding:3px 0px 0px 0px;
    font-size: 12px;
    border:0;
    background-color:transparent;
    margin-top: -15px;
    text-align: left;
}
.zipcode .frm-input{
    margin:0px 10px 20px 10px;
    text-align: left;
    width:30%;
    margin:0 auto;
}
.frm-input input{
    padding:15px 20px;    
    border:1px solid #cccccc;    
    text-align: left;
    width:100%;
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius:4px;
    margin-bottom: 15px;
}
.zipcode, .frm-field-group{
    margin:20px auto;    
}
.zipcode .frm-input input{
    padding:15px 20px;    
    border:1px solid #cccccc;    
    text-align: left;
    width:100%;
    border-radius:4px;   
}

.zipcode .input{
    padding:10px 20px;
    margin:0px 10px 20px 10px;
    border:1px solid #cccccc;
    width:50%;
    background-color:#cccccc;
    text-align: left;
      
}
button:focus{
    outline: 1px dotted;
}
.schedule-header, .schedule-btns, 
.schedule-cost, .schedule-location{
    text-align:center;
    margin:5px auto 10px;
}
.schedule-btn-container{
    text-align:center;
    margin:30px auto 10px;
}
.schedule-btns{
    margin-left:25px;    
}
.schedule-btns button{
    margin-left:-25px;
    padding: 0px 35px;
}
.schedule-btn-container button{    
    margin:0px 5px;
}
.schedule-cost span{
    font-size:20px;
    font-weight: 600;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
.schedule-location{
    font-size: 18px;
}
.schedule-location .txt-small{
    font-size: 12px;
    padding:10px;    
}
.date-schedules{
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
    align-items: center;    
    padding:5px;
    border:1px solid #cccccc;
    border-radius:4px;
    margin-bottom:5px;
    cursor: pointer;
    position: relative;
}
.date-schedules .booked-seat{
    position: absolute;
    right:-12px;
    top:40%;
}
.date-schedules .booked-seat .mat-icon{
    color:#008000;
}
.date-schedules:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); 
}
.date-schedules > div{
    flex-grow: 1;    
    padding:5px;
    text-align: center;
    width:90px;
}
.date-schedules .dt{
    font-size:22px;
    font-weight: 500;
}
.calendar-wrapper{
    width: 100%;
    text-align: center;
    margin:25px 0px;
    border:1px solid #cccccc;
    border-radius:4px;
}
.seats-box{
    background-color:#cccccc;
    text-align: center;    
    padding:5px 20px;
    display: inline-block;
}
.divider{
    margin:25px auto 35px;
    border-top:1px solid #cccccc;
}

.boxWrapper {
    width: 100%;
    margin: 30px auto 70px auto;
    text-align: center;
    text-align: -webkit-center;
}
.boxWrapperCol {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.boxWrapperCol:hover {
    transform: scale(1.05);
    -moz-transition: scale(1.05);
}
.boxWrapperCol a {
    text-decoration: none;
    outline: none;
}

.whiteBox {
    display: block;
    width: 182px;
    height: 80px;
    padding: 15px 20px 15px 20px;
    background: #fff;
    color: #000;
    text-align: center;
    vertical-align: top;
    line-height: 22px;
    border: 1px solid #e1e0e0;
    border-radius: 0 0 7px 7px;
}
/* Responsive Styles */
@media screen and (max-width: 1199px) and (min-width: 1000px){
    .boxWrapperCol {
        display: inline-block;
        vertical-align: top;
        margin: 10px;
    }
}
@media screen and (max-width: 991px) {
    .boxWrapperCol {
        margin: 15px;
        width: 27%;
    }
    .table > div{
        display:block;
    }
    .checkout-course-view > div.half {        
        flex-basis: 100%;
     }
    .popover-container .table > div{
        display:table-cell;
    }
    .img-box-container-rl .img-container,
    .img-box-container-lr .img-container,    
    .img-box-container-rl .img-content-box,
    .img-box-container-lr .img-content-box{
        float:none;
        width:auto;
        padding:0px;
    }
    .img-box-container-lr.content-box-over .img-container, 
    .img-box-container-rl.content-box-over .img-container,
    .img-box-container-lr.content-box-over .img-content-box, 
    .img-box-container-rl.content-box-over .img-content-box{
        width:auto;
    }
    .img-box-container-lr.content-box-over .img-content-box div, 
    .img-box-container-rl.content-box-over .img-content-box div{
        position: initial;
        margin-top: 1%;
        margin-bottom: 2%;
        width: auto;
    }
    .img-box-container-lr .img-container,
    .img-box-container-rl .img-container{
        margin-bottom:15px;
    }
    .course-picture{
        max-width:350px;
    }
    .course-box{
        margin-bottom:30px;
    }
    .contact-img{
        text-align: center;
    }
    .card-wrapper{
        text-align:left;
        margin:15px auto 15px;
        width:80%;
    }
    .owl-item .card-wrapper, .mat-tab-body-content .card-wrapper{
        width:auto;
    }
    .pathway-container .pathway-card{
        width:45%;
    }
    .content-wrapper, .testimonials-container, .client-container{
        width:80%;
        margin:0 auto;
    }
    .stb-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
/* Responsive Styles */
@media screen and (max-width: 767px) {
    .boxWrapperCol {        
        width: 35%;
    }
    .navigation-container{
        background-color: rgba(245, 75, 30, 1);
        position: relative;
    }
    .hero-banner .banner-content .btn-container{
        display: initial;
    }
    .content-wrapper, .testimonials-container, 
    .client-container, .card-wrapper{
        width:auto;        
    }
    .instructor-carousel .instruct-col{
        display: block;
    }
    
    .instructor-carousel .instructor-avatar{
        width:150px;
        height:150px;
        margin: 20px auto;
    }
    .instructor-carousel .instructor-details{
        margin: 0px auto;
    }
    .card-btn-group.mat-card-actions{
        display: block;
    }
    
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }
  
  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
  .register-form .frm-btn-container button{        
        width: 100%;        
        font-size: 15px;
    }
    .navbar-nav .nav-link {
        display: inlin-block;
    }    
    .navbar-nav.mobile-view{
        flex-direction: inherit;
        float:right;
    }
  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
  .mat-dialog-container{
        min-width:350px;   
    }
}
@media screen and (max-width: 480px) {    
    .mat-dialog-container{
          min-width:300px;   
      }
}

@media screen and (max-width: 360px) {    
    .mat-dialog-container{
          min-width:100%;   
      }
}

.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  /* added by Dhananjay */
  .mat-paginator-navigation-previous {
    display: none !important;
}

.mat-paginator-navigation-next {
        display: none !important;
    }


