/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px #000000;
}
html, body{
    margin:0;
    height: 100%;
    font-family: "Roboto", Helvetica, Arial, sans-serif,
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
.mat-h2, .mat-title, .mat-typography h2{
    font: 500 24px/32px Roboto, "Helvetica Neue", sans-serif;
}
.mat-h3, .mat-subheading-2, .mat-typography h3{
    font: 400 18px/24px Roboto, "Helvetica Neue", sans-serif; 
}
.mat-h4, .mat-subheading-1, .mat-typography h4{
    font: 400 16px/24px Roboto, "Helvetica Neue", sans-serif; 
}
p {
  margin: 0;
}

.spacer {
  flex: 1;
}
.main-container{
max-width:1600px;
margin:0 auto;
}
.main-container.internal-page-wrapper.franchise-page .content,
.main-container.internal-page-wrapper.catalog-page .content{
    margin-top:0px;
}
.navigation-container{
    background-color: rgba(245, 75, 30, 1);
    color: white;
    font-weight: 500;
    max-width: 1600px;
    margin:0 auto;     
}
.navigation-container .navbar{
    z-index: 100;
}
.navigation-container .navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,1);
}

.table{
    display: table;    
}
.table > div{
    display: table-cell;
    vertical-align: middle;
}
.hero-banner{
    position: relative;
    top:0;
}
.hero-banner h1{
    font-size:55px;
    line-height: 58px;
    font-weight: lighter;  
  }
.hero-banner .banner-content{
    display:flex;
    align-items: center;
    width:100%;
}
.hero-banner .banner-content .btn-container{
    display:flex;
    align-items: center;
    width:100%;
}
.hero-banner .banner-content .btn-container button,
.hero-banner .banner-content .btn-container a{
    padding: 0.45em .75em 0.45em .75em;
    margin-top: -1.4em;
    text-shadow: 1px 1px 0px #000000;
}
.hero-banner .banner-content .btn-container > div{
    margin:0px 15px 0px 0px;
}
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(255,255,255,0.2);   
}
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick{
    opacity:1;
}
.hero-banner .banner-content .btn-container .search-input .matInput{
    color: #ffffff;
}
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, 
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, 
.hero-banner .banner-content .btn-container .search-input .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px;
}
.hero-banner .banner-content > div{
    width:50%;
}

.hero-banner{
    /* background-image: url('/assets/img/hero-banner.jpg'); */
    background-size: cover;    
}
.btn-container{
    margin:15px 0;
}
.btn-transparent{
    background: transparent;
}
.catalog-page .hero-banner .banner-overlay{
    background-color: rgba(22, 22, 22, 0.7);
}
.franchise-page .hero-banner{
    position: relative;
    z-index: 1;
}
.franchise-page .hero-banner .banner-overlay{
    background-color: rgba(9, 131, 245, 0.7);
}
.franchise-page .hero-banner.skew:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    overflow: visible;
    width: 100%;
    height: 80px;
    background: #ffffff;
    z-index: 1;
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg);
    transform: skewY(2deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
  }
  .breadcrumb{
    background-color: #ffffff;
    z-index: 2;
  }
.catalog-page .hero-banner .banner-content,
.catalog-page .search-box-container{
    text-align: center;
}
.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 0px 25px 0px;
}
.select-container > div{
    width: 100%;
}
.s-container .s-row .s-col.col-right-panel{
    flex: 1;
}
.select-container{
    display: table;
    width:100%;
}
.select-container select{
    padding: 14px 14px;
    border:1px solid #eeeeee;
    border-radius:4px;
}
.select-container > div{
    display: table-cell;
    padding-right: 5px;   
}
.right-panel{    
    border:1px solid #cccccc;
}
.right-panel .course-info-wrapper{
    background-color: #f4f4f4;
    padding: 30px;
}
.right-panel .course-outline-wrapper h2{
    padding: 25px 25px 0px 25px;
}
.right-panel .course-outline-wrapper .mat-expansion-panel-header-title{
    font-weight:bold;
    font-size: 14px;
}
.topic-details{
    display: flex;
}
.topic-details div{
    width:100%;
    padding:5px 0px;
}
.skills-container{
    display:table;
    width:100%;
    background-color: #f2f2f2;
    border:1px solid #cccccc;
    border-radius:4px;
    margin-bottom:10px;
}
.skills-container > div{
    display:table-cell;
    padding:10px;
}

.instructor-container, .other-course-container{
    display:table;
    width:100%;   
    margin-bottom:10px;
}
.instructor-container > div, .other-course-container > div{
    display:table-cell;
    padding:10px;
    vertical-align: top;
}
.course-picture{
    width:100%;
    height:110px;
    border:1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:25px;
}
.course-title{
    font-size: 16px;
    font: 600;
}
.instructor-container .instructor-avatar{
    width:130px;
    height:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:130px;
    overflow: hidden;
    border:1px solid #cccccc;
    box-shadow: 0px 5px 8px 5px #eeeeee;
}
.student-avatar{
    width:80px;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:80px;
    overflow: hidden;
    border:1px solid #cccccc;
    box-shadow: 0px 5px 8px 5px #eeeeee;
}
.student-avatar .mat-icon{
    width: 40px;
    height: 40px;
}
.course-info span{
    padding-right:10px;
}
.course-info.icon .mat-icon{
    width: 15px;
    height: 15px;
}
.course-info.icon .material-icons{
    font-size: 15px;   
}
.student-avatar .material-icons{
    font-size: 40px;
    color:#cccccc;
}
.instructor-container .instructor-avatar .mat-icon{
    width: 90px;
    height: 90px;
}
.instructor-container .instructor-avatar .material-icons{
    font-size: 90px;
    color:#cccccc;
}
.select-container .search-box-container .search-input{
    text-align: center;
    margin: 0 15px;
}
.instructor-name{
    text-align: center;
    margin:13px auto;
}
.other-course-details .course-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.other-course-details .course-info {
    display: flex;
    align-items: center;
    justify-content: center center;
}
.other-course-details .course-info > div{
    width:100%;
    padding: 5px;
}
.select-container .search-box-container .search-input .mat-form-field{
    display: block;    
}
.select-container-btn{
    text-align: right;
    margin: 20px 0px;    
}
.catalog-page .select-container-btn button, .catalog-page .view-btn-container button{    
    border-radius:17px;
    margin-left:5px;
}

.catalog-page .view-btn-container button{
    margin-left: -25px;
    padding-left: 35px;
    padding-right: 35px;
}

.catalog-page .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin:0px;
    padding-bottom: 0px;
}
.select-container .frm-select{
    width:120px;
}
.catalog-page .hero-banner .banner-content .btn-container{
    margin-top:25px;
}
.catalog-page .hero-banner .banner-content > div {
    width: 100%;
}
.catalog-page .hero-banner .banner-content .btn-container {    
    justify-content: center;
}
.catalog-page .hero-banner .banner-content .btn-container button{
    padding: 0.45em .75em 0.45em .75em;
    margin-top: 0px;
    width:150px;
}
.view-btn-container{
    text-align: right; 
    margin: 0px 0px 30px 0px;
}

.btn-active{
    position: relative;
    z-index: 1;
}

.mat-label{
    color:#ffffff;
}

.find-campus-container{
    text-align: center;
}
.find-campus-container .mat-form-field{
    width:60%;
}
.find-campus-container .map-location{
    font-size: 20px;
    font-weight: 500;
}
.find-campus-container .btn-wrapper{
    margin:10px 0px 0px 0px;
}
.find-campus-container .btn-wrapper button{
    padding:5px 25px;
    width:50%;
}
.map-container{
    margin: 20px auto;
    width:80%;
}
.map-container img{
    width:100%;   
}
.hero-banner .banner-overlay{
    background-color: rgba(245, 75, 30, 0.7);
    min-height:450px;    
    position:relative;
    color:#ffffff;
    padding:90px 60px 150px;
    display: flex;
    align-items: center;
}
.hero-banner .btn-white{
    background-color: rgba(255,255,255,0.3);
    border: 1px solid #ffffff;
    color:#ffffff
}
.hero-banner .border{
   border: 1px solid #ffffff;
}
.img-box-container-lr .img-box-container, .img-box-container-lr .img-content-box,
.img-box-container-rl .img-box-container, .img-box-container-rl .img-content-box{    
    width:50%;
}
.img-box-container-lr .img-container{
    float:left;
    width:48%;  
    padding: 0px 2% 0px 0px;
}
.img-box-container-rl .img-container{
    float:right;
    width:48%;  
    padding: 0px 0px 0px 2%;
}
.img-box-container-lr .img-container img, .img-box-container-rl .img-container img{
    width:100%;    
}
.img-container.rounded-corner-shadow{
    padding:0;
}
.rounded-corner-shadow{
    border-radius: 50px;
    box-shadow: 0px 10px 10px 5px #333333;
    overflow: hidden;    
}
.img-box-container-lr .img-content-box{
    float:right;
    width:48%;
}
.img-box-container-lr.content-box-over .img-container,
.img-box-container-rl.content-box-over .img-container{
    width:50%;
    padding: 0px 0px 0px 0px;
}
.img-box-container-lr.content-box-over .img-content-box,
.img-box-container-rl.content-box-over .img-content-box{
    position: relative;
    width:45%;
}

.img-box-container-lr.content-box-over .img-content-box div,
.img-box-container-rl.content-box-over .img-content-box div{
    position: absolute;
    border: 1px solid #cccccc;
    padding: 30px;
    margin-top: 6%;
    background-color: #ffffff;
}

.img-box-container-lr.content-box-over .img-content-box div{    
    left: -30%;
    top: 10%;   
}
.img-box-container-rl.content-box-over .img-content-box div{    
    right: -30%;
    top: 10%;   
}

.st-padding-70{
    padding-top:70px!important;   
}
.sb-padding-70{
    padding-bottom:70px!important;   
}
.remove-b-padding{
    padding-bottom: 0!important;
}
.remove-t-padding{
    padding-top: 0!important;
}
.img-box-container-rl .img-content-box{
    float:left;
    width:48%;
}
.stb-padding{
    padding-top:70px;
    padding-bottom:70px;
}

.course-detials-container{
    display:table;
    font-size:11px;
    width:100%;
    align-items: center;
    margin:10px -5px;
}
.course-detials-container > div{
    display:table-cell;
    padding:5px;
}
.course-details-info, .course-detials-container .card-btn-wrapper{
    margin-bottom:25px;
}
.course-details-info .course-info{
    display:flex;
    font-size:12px;
    width:100%;
    align-items: center;
    margin:10px 0px;
}
.course-details-info .course-info div{
    width:45%;
}
.course-details-info .course-info div:last-child{
    width:55%;
}

.course-detials-container .mat-icon{
    width:15px;
    height:15px;
}
.course-detials-container .material-icons{
    font-size:15px;
}
.course-details-info .material-icons{
    font-size:15px;
}
.card-btn-wrapper{
    display: table;
    align-items: center;
    font-size:12px;
    margin: 0px 0px;
    width:100%;        
}
.card-btn-wrapper > div{
    display: table-cell; 
}
.card-btn-wrapper > div .mat-button{
    line-height: 30px;
    border-radius:15px!important;
    text-align: right;
}
.card-btn-wrapper > div:last-child{    
    text-align: right;  
}
.course-btn-wrapper{
    display: flex;
    margin: 20px auto;
}
.course-btn-wrapper div{
    width:100%;
}
.r-align{
    text-align: right;
}
.course-btn-wrapper a{
    margin-right:5px;
    display: inline-block;     
}
.rounded,  .course-btn-wrapper a.rounded{
    border-radius: 25px;     
}
.mat-card-actions .card-btn-wrapper{
    margin:0px 10px;
}
.bg-light-gray{
    background-color:#4d4d4d;
    color:#ffffff;
}

.bg-light-orange{
    background-color:#f54b1e;
    color:#ffffff;
}
.bg-light-orange p, .bg-light-orange h2, .bg-light-orange h3,
.bg-light-orange span,
.bg-light-orange .mat-icon{    
    color:#ffffff;
}
.bg-light-orange .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.7);
}
.location-overlay{
    padding:60px 60px;
}
.location-overlay h2, .location-overlay h3{
    margin-top:0px;
}

.location-overlay .location-icon .mat-icon{
    width:50px;
    height: 50px;
}
.location-overlay .location-icon .material-icons{
    font-size: 50px;
}
.bg-dark-gray{
    background-color:#2b2b2b;
    color:#ffffff;
}
section, footer{
    width:100%;
}
.icon-wrapper{
    text-align: center;    
}
.icon-wrapper .icon-box .mat-icon{
    height: 50px;
    width: 50px;
}
.icon-wrapper .icon-box .material-icons{
    font-size: 50px;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;  
  color: white;
  font-weight: 500;
  z-index: 1;
  padding:0px 40px;
  background-color: #f54b1e;     
}

.toolbar a, .toolbar a:visited{
    font-weight: 400;
    padding:15px;
    color:#ffffff;
}
.toolbar .title{
    font-weight: 500;
}
.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 30px auto 0px;
  padding: 0px;  
  flex-direction: column;
  align-items: center;
}
.s-container{
    width:100%;
    max-width: 1140px;
    margin: 0 auto;
}
.s-container .s-row{    
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.s-container .s-row .s-col{    
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.s-container .s-row .s-col{    
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.s3-padding {
    padding: 8px 16px!important;
}
.s3-padding-tb-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.s3-padding-tb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.s3-padding-lr-30{
    padding-left: 30px;
    padding-right: 30px;
}
.s3-padding-tb-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.mat-card{
    background: transparent;
    margin-top:30px;
    margin-bottom:30px;
    padding:30px;

}
.mat-card .image-square{
    margin:0px 0px 15px 0px;
    width:100%;
}
.no-card-border{
    border:0px;
}
.example-card{
    margin:0px 0px;
    box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.img-container{
    position: relative;
       
}
.course-price{
    position: relative;
    margin-bottom: 20px; 
}
.course-price .price-badge{
    position: absolute;
    display: inline-block;
    padding: 5px 15px;
    color:#ffffff;
    background-color: #f54b1e;
    top: -15px;
    right: 15px;
    border-radius:5px;
}
.card-wrapper .img-container{
    width:100%;
    height: 150px;
    overflow: hidden;    
}
.card-wrapper .img-container img{
    width:100%;
}
.img-container .price-badge{
    position: absolute;
    display: inline-block;
    padding: 5px 15px;
    color:#ffffff;
    background-color: #f54b1e;
    bottom: -15px;
    right: 15px;
    border-radius:5px;
}
.card-wrapper{
    position: relative;
    margin-bottom:20px;
}
.card-wrapper h3{
    line-height: 20px;
    font-size:18px;
    font-weight: 500;
}
.card-wrapper .card-badge{
    position: absolute;
    display: inline-block;
    padding: 3px 20px;
    color:#ffffff;
    background-color: #f54b1e;
    top: 10px;
    right: -20px;
    border-radius:15px;
}
.card-wrapper a.btn-orange,  .card-wrapper a.btn-orange:hover{
    color:#ffffff;
}
.card-wrapper a.link-orange,  .card-wrapper a.link-orange{   
    padding: 0 8px;
}
.card-wrapper a.link-orange{
    color:#f54b1e;    
}
.card-wrapper a.link-orange:hover{   
    text-decoration: underline;
    background-color: transparent!important; 
}

.card-wrapper .mat-card{
    padding:35px;
}
.card-wrapper.icon-card .mat-card{
    text-align: center;
}
.certification-card{
    border:1px solid #cccccc;
    margin:0px 15px; 
  }
  .certification-card .course-detials-container{
    margin:10px;
  }
  .mat-tab-container .card-wrapper{
    margin-top:20px;
  }
  .mat-tab-container{
        margin-top:20px;
  }
  .mat-tab-container .s-container{
    max-width:960px;
  }
  .mat-card-image:first-child{
      margin:0px;
  }
.mat-card.certification-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.certification-card h3{
  font-size:18px; 
}
.card-btn-group{
    display:flex;
    align-items: center;    
}
.card-btn-group div{
   flex:auto;
   justify-content: center;   
}
.text-center{
    text-align: center;
}
.bg-light-gray .mat-card, .bg-light-gray .mat-card .mat-button,
.bg-dark-gray .mat-card, .bg-dark-gray .mat-card .mat-button{
    color:#ffffff;
}
.mat-card-image.image-circle{
    width:200px;
    height:200px;
    border-radius:100px;
    margin: 0px auto 20px auto;
    display:block;
    box-shadow: 0px 8px 10px 3px #cccccc;
    border: 2px solid #cccccc;
}
.icon-circle{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 0px auto 20px auto;
    display: block;
    border: 3px solid #1976d2;   
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle .mat-icon{
    width: 70px;
    height: 70px;
    font-size: 70px;
    color:#666666;   
}

.icon-circle-blue{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 0px auto 20px auto;
    display: block;
    border: 3px solid #1976d2;   
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle-blue .mat-icon{
    width: 70px;
    height: 70px;
    font-size: 70px;
    color:#666666;   
}
.instructor-carousel{    
    width:100%;
}
.instructor-carousel .instruct-col{    
    
}
.instructor-carousel .instructor-avatar{
    float: right;
    width:24%;
}
.instructor-carousel .instructor-avatar{
    width:200px;
    height:200px;
    border-radius:100px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 5px #333333;
}
.instructor-carousel .instructor-avatar img{
    width:100%;    
}
.instructor-carousel .instructor-details{
    float: left;
    width:74%;
}
.event-image{
    position: relative;
    overflow:hidden;
    width:100%;
    border-radius:15px;  
}
.event-image img{
    width:100%    
}
.event-image .event-title{
    position: absolute;
    width:100%;
    padding:10px 20px;
    background-color: #f54b1e;
    color:#ffffff;
    bottom:0;
}
.btn-orange, .btn-orange:hover{
    background-color:#f54b1e;
    color:#ffffff;
}

.txt-orange{    
    color:#F85D36;
}
.mat-button.link-orange{
    color:#f54b1e;
}
.heading-orange{
    color:#f54b1e;
}
.pathway-container{
    display:block;       
    padding-bottom:15px;    
}
.clearfix{
    clear: both;
}
.pathway-container .pathway-card{
    height:50px;
    width:30.5%;
    font-size:12px;
    text-align: center;
    display: inline-block;
    border:1px solid #f54b1e;
    border-top:15px solid #f54b1e;
    border-radius:5px;
    padding:10px;
    margin:10px 10px 0px 0px;   
}
.client-container{
    display:flex;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding: 40px 0px;
}
.client-container .client-logo{
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
}
.client-heading{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card-wrapper .example-card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

/*a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
a.btn-orange,
a.btn-orange:visited,
a.btn-orange:hover{
    color: #ffffff;
}
a.link-orange,
a.btn-orange:visited,
a.btn-orange:hover{
    color: #f54b1e;
}*/
footer a{
    color: #888888;
    text-decoration: none;
    font-size: 12px;
    font-weight: 200;
}
footer a:hover{
    color: #ffffff;
    text-decoration: none;
}
.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
footer ul{
    list-style-type: none;
  }

footer a {
  display: flex;
  align-items: center;
  color:#ffffff;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
.accordion-container{
    margin-top:70px;
}
.no-margin-lr{
    margin-left: -15px;
    margin-right:-15px;
}
.mat-dialog-container{
    min-width:550px;
   
}
.course-details-page .content{
    margin-top:0px;
}
/*Form*/
.register-form{
    text-align: center;
    width:100%;
    margin: 0 auto;
    padding: 10px 30px;    
}
.login-form{
    text-align: center;
    width:90%;
    margin: 0 auto;       
}
.login-form .form-field .frm-input input{
    width:100%;
}
.register-form .frm-btn-container{
    text-transform: uppercase;    
    width:50%;
    margin:25px auto;
}
.login-form .frm-btn-container{
    text-transform: uppercase;    
    width:100%;
    margin:15px auto;
}
.register-form .frm-btn-container button{
    padding:15px 30px;
    width:80%;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
}
.login-form .frm-btn-container button{
    padding:5px 20px;
    width:80%;
    text-transform:none;
    font-weight: 100;
    font-size: 15px;
}
.form-field, .zipcode{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.form-field .input{
    padding:10px 20px;
    margin:0px 5px 20px 5px;
    border:1px solid #cccccc;
    width:100%;    
    text-align: left;
}
.form-field .frm-input, .zipcode .frm-input{
    margin:0px 10px 20px 10px;
    text-align: left;
    width:100%;
    height:70px;
}
.login-form .form-field .frm-input, .login-form .zipcode .frm-input{
    height:auto;
}
.campus-location{
    display: table;
    width:70%;
    margin:0 auto;
}
.campus-location > div{
    display: table-cell;
    padding:10px 0px;
    vertical-align: middle;
    text-align: center;
}
.location-pointer{
    width:15px;
    height:15px;
    background-color:#F85D36;
    border-radius:15px;
    display: inline-block;
    margin:0px 10px 0px 0px;
}
.location-name{
    font-size: 25px;
    color:#f54b1e;
}
.alert-danger{
    color:#ff0000;
    padding:3px 0px 0px 0px;
    font-size: 12px;
    border:0;
    background-color:transparent;
    margin-top: -15px;
    text-align: left;
}
.zipcode .frm-input{
    margin:0px 10px 20px 10px;
    text-align: left;
    width:30%;
    margin:0 auto;
}
.frm-input input{
    padding:15px 20px;    
    border:1px solid #cccccc;    
    text-align: left;
    width:100%;
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius:4px;
    margin-bottom: 15px;
}
.zipcode, .frm-field-group{
    margin:20px auto;    
}
.zipcode .frm-input input{
    padding:15px 20px;    
    border:1px solid #cccccc;    
    text-align: left;
    width:100%;
    border-radius:4px;   
}

.zipcode .input{
    padding:10px 20px;
    margin:0px 10px 20px 10px;
    border:1px solid #cccccc;
    width:50%;
    background-color:#cccccc;
    text-align: left;
      
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  /* added by Dhananjay */
  .mat-paginator-navigation-previous {
    display: none !important;
}

.mat-paginator-navigation-next {
        display: none !important;
    }