<div class="main-container">
    <!-- Hero Banner section begin-->
    <!-- <div class="hero-banner"> -->
    <div class="hero-banner" [ngStyle]="{'background': 'url(' + homeData?.entry.banner_section.banner_image.url + ') no-repeat 0 0'}">
        <div class="banner-overlay">
            <div class="container">
                <div class="row banner-content">
                    <div class="col-lg-7">
                        <h1>{{homeData?.entry?.banner_section?.heading}}</h1>
                        <p [innerHTML]="homeData?.entry?.banner_section?.brief_description"></p>
                        <div class="btn-container">
                            <div class="search-input">
                                <mat-form-field appearance="outline">
                                    <mat-label>What do you want to learn?</mat-label>
                                    <input matInput [(ngModel)]='learnSearch' (keyup.enter)="navigateToCatalog()" placeholder="What do you want to learn?">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                            <div>
                                <a href="{{homeData?.entry?.banner_section?.cta_url}}" mat-raised-button class="btn-transparent btn-white">{{homeData?.entry?.banner_section?.cta_text}}
                                    <mat-icon aria-hidden="false" aria-label="Example play_circle_filled icon">
                                        play_circle_filled</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Banner section end-->

    <div class="content" role="main">

        <!-- Learn Improve section begin-->
        <section class="stb-padding remove-b-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-5">
                            <div class="content-wrapper">
                                <h2>{{homeData?.entry?.learn_improve_your_way.learn_improve_your_way_heading}}</h2>
                                <p>{{homeData?.entry?.learn_improve_your_way.brief_description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card no-card-border">
                                <mat-card-header>

                                </mat-card-header>
                                <img class="image-circle" mat-card-image [src]='homeData?.entry?.learn_improve_your_way_blocks[0].block_1.block_1_image.url'
                                    alt="picture">
                                <mat-card-content>
                                    <h3>{{homeData?.entry?.learn_improve_your_way_blocks[0].block_1.block_1_heading}}
                                    </h3>
                                    <p>
                                        {{homeData?.entry?.learn_improve_your_way_blocks[0].block_1.block_1_description}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-button class="link-orange" href="{{homeData?.entry?.learn_improve_your_way_blocks[0].block_1.learn_more_link}}">Learn
                                        more <mat-icon aria-hidden="false" aria-label="Example play_arrow icon">
                                            play_arrow</mat-icon></a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card no-card-border">
                                <mat-card-header>

                                </mat-card-header>
                                <img class="image-circle" mat-card-image [src]='homeData?.entry?.learn_improve_your_way_blocks[1].block_2.block_2_image.url'
                                    alt="Picture">
                                <mat-card-content>
                                    <h3>{{homeData?.entry?.learn_improve_your_way_blocks[1].block_2.block_2_heading}}
                                    </h3>
                                    <p>
                                        {{homeData?.entry?.learn_improve_your_way_blocks[1].block_2.block_2_description}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-button class="link-orange" href="{{homeData?.entry?.learn_improve_your_way_blocks[1].block_2.learn_more_link}}">Learn
                                        more <mat-icon aria-hidden="false" aria-label="Example play_arrow icon">
                                            play_arrow</mat-icon></a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-wrapper">
                            <mat-card class="example-card no-card-border">
                                <mat-card-header>

                                </mat-card-header>
                                <img class="image-circle" mat-card-image [src]='homeData?.entry?.learn_improve_your_way_blocks[2].block_3.block_3_image.url'
                                    alt="Picture">
                                <mat-card-content>
                                    <h3>{{homeData?.entry?.learn_improve_your_way_blocks[2].block_3.block_3_heading}}
                                    </h3>
                                    <p>
                                        {{homeData?.entry?.learn_improve_your_way_blocks[2].block_3.block_3_description}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <a mat-button class="link-orange" href="{{homeData?.entry?.learn_improve_your_way_blocks[2].block_3.learn_more_link}}">Learn
                                        more <mat-icon aria-hidden="false" aria-label="Example play_arrow icon">
                                            play_arrow</mat-icon></a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Learn Improve section end-->

        <!-- Image Left Content Right section begin
        <section class="stb-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <div class="img-box-container-rl">
                                <div class="img-container">
                                    <img src="{{homeData?.entry?.marketing_blocks[0].block_1.block_1_image.url}}" alt="image">
                                </div>
                                <div class="img-content-box">
                                    <h2>{{homeData?.entry?.marketing_blocks[0].block_1.block_1_heading}}</h2>
                                    <p>{{homeData?.entry?.marketing_blocks[0].block_1.block_1_description}}</p>
                                    <div class="btn-container">
                                        <a class="btn-orange" mat-button href="{{homeData?.entry?.marketing_blocks[0].block_1.block_1_button_url}}">Learn
                                        more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         Image Left Content Rigth section end-->

        <!-- Content Left Image Right section begin
        <section class="stb-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <div class="img-box-container-lr">
                                <div class="img-container">
                                    <img src="{{homeData?.entry?.marketing_blocks[1].block_2.block_2_image.url}}" alt="image">
                                </div>
                                <div class="img-content-box">
                                    <h2>{{homeData?.entry?.marketing_blocks[1].block_2.block_2_heading}}</h2>
                                    <p>{{homeData?.entry?.marketing_blocks[1].block_2.block_2_decription}}</p>
                                    <div class="btn-container">
                                        <a class="btn-orange" mat-button href="{{homeData?.entry?.marketing_blocks[1].block_2.block_2_button_url}}">Learn
                                        more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         Conten Left Image Right section end-->
        <section class="stb-padding remove-b-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center">Training for Every Member of the Enterprise</h2>
                        <div class="boxWrapper">
                            <div class="boxWrapperCol"><a href="#"><img alt="IT Training" src="./assets/img/IT.png"> <span class="whiteBox">Information Technology</span> </a>
                            </div>
                            <div class="boxWrapperCol"><a href="#"><img alt="Microsoft Office Certification" src="./assets/img/Applications.png"> <span class="whiteBox">Productivity Applications</span> </a>
                            </div>
                            <div class="boxWrapperCol"><a href="#"><img alt="Center for Development and Leadership" src="./assets/img/Leadership.png"> <span class="whiteBox">Leadership and Development Skills</span> </a>
                            </div>
                            <div class="boxWrapperCol"><a href="#"><img alt="Service and Project Management" src="./assets/img/ProjectMang.png"> <span class="whiteBox">Project/Service Management</span> </a>
                            </div>
                            <div class="boxWrapperCol"><a href="#"><img alt="Cloud Technology Learning" src="./assets/img/Cloud.png"> <span class="whiteBox">Cloud &amp; Big Data</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- New Course section begin-->
        <section class="stb-padding bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <h2>New Course</h2>
                            <p>{{homeData?.entry?.new_courses.description_text}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <owl-carousel-o [options]="customOptionsCourse">
                                <ng-template *ngFor="let c of homeData?.entry?.new_courses.courses" carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card (click)='courseDetails(c)' class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image [src]='c.course_outline.banner_image.url' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">
                                                    <ng-container *ngIf="c.course_info.cost.online; then onlineprice else campusprice">
                                                    </ng-container>
                                                    <ng-template #onlineprice>
                                                        {{c.course_info.cost.online}}
                                                    </ng-template>
                                                    <ng-template #campusprice>
                                                        {{c.course_info.cost.campus}}
                                                    </ng-template>
                                                </span>
                                            </div>
                                            <mat-card-content>
                                                <h4>{{c.course_name}}</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                            <app-starrating [rating]='c.course_info.star_rating'></app-starrating>
                                                        </span>
                                                    </div>
                                                    <!-- need to be fixed the chart  -->
                                                    <div><span>Level:</span>
                                                        <mat-icon> bar_chart</mat-icon>
                                                    </div>
                                                    <div>
                                                        <ng-container *ngIf="c.course_info.course_length.online; then onlinelength else campuslength">
                                                        </ng-container>
                                                        <ng-template #onlinelength>
                                                            <span>{{c.course_info.course_length.online}}</span>
                                                        </ng-template>
                                                        <ng-template #campuslength>
                                                            <span>{{c.course_info.course_length.campus}}</span>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div> By: {{c.instructor[0].first_name}} {{c.instructor[0].last_name}}</div>
                                                    <div>
                                                        <a *ngFor="let b of c.course_info.course_availability; let i=index" mat-button class="btn-flat rounded">{{b}}</a>
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- New Course section end-->

        <!-- Trending Courses section begin-->
        <section class="stb-padding bg-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <h2>Trending Course</h2>
                            <p>{{homeData?.entry?.trending_courses.description_text}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <owl-carousel-o [options]="customOptionsCourse">
                                <!-- for new course api returns courses and for trending courses returns course. It needs to be consistent in the API -->
                                <ng-template *ngFor="let c of homeData?.entry.trending_courses.course" carouselSlide>
                                    <div class="card-wrapper">
                                        <mat-card (click)='courseDetails(c)' class="example-card">
                                            <mat-card-header>

                                            </mat-card-header>
                                            <div class="img-container">
                                                <img class="image-square" mat-card-image [src]='c.course_outline.banner_image.url' alt="Picture">
                                            </div>
                                            <div class="course-price">
                                                <span class="price-badge">
                                                                <ng-container
                                                                    *ngIf="c.course_info.cost.online; then onlineprice else campusprice">
                                                                </ng-container>
                                                                <ng-template #onlineprice>
                                                                    {{c.course_info.cost.online}}
                                                                </ng-template>
                                                                <ng-template #campusprice>
                                                                    {{c.course_info.cost.campus}}
                                                                </ng-template>
                                                            </span>
                                            </div>

                                            <mat-card-content>
                                                <h4>{{c.course_name}}</h4>
                                                <div class="course-detials-container">
                                                    <div>
                                                        <span>
                                                                        <app-starrating [rating]='c.course_info.star_rating'></app-starrating>
                                                                    </span>
                                                    </div>
                                                    <!-- need to be fixed the chart  -->
                                                    <div><span>Level:</span>
                                                        <mat-icon> bar_chart</mat-icon>
                                                    </div>
                                                    <div>
                                                        <ng-container *ngIf="c.course_info.course_length.online; then onlinelength else campuslength">
                                                        </ng-container>
                                                        <ng-template #onlinelength>
                                                            <span>{{c.course_info.course_length.online}}</span>
                                                        </ng-template>
                                                        <ng-template #campuslength>
                                                            <span>{{c.course_info.course_length.campus}}</span>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <div class="card-btn-wrapper">
                                                    <div> By: {{c.instructor[0].first_name}} {{c.instructor[0].last_name}} </div>
                                                    <div>
                                                        <!--  we need to fix the URL from API. API has to return the URL for these buttons  -->
                                                        <a *ngFor="let b of c.course_info.course_availability; let i=index" mat-button class="btn-flat rounded">{{b}}</a>
                                                        <!-- <a mat-button class="btn-orange rounded" href="#">Online</a></div> -->
                                                    </div>
                                                </div>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Trending Courses section end-->

        <!-- Certification section begin-->
        <section class="stb-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content-wrapper">
                            <h2>{{homeData?.entry?.certification_at_new_horizons.heading}}</h2>
                            <p>{{homeData?.entry?.certification_at_new_horizons.description_text}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- certification  -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <mat-tab-group class="mat-tab-container" animationDuration="1000ms">
                            <mat-tab *ngFor="let c of homeData?.entry?.certification" label={{c.certification_category[0].category_name}}>
                                <div class="container">
                                    <div class="row">
                                        <div *ngFor="let cdata of c.certifications" class="col-lg-6">
                                            <div class="card-wrapper">
                                                <mat-card class="example-card certification-card">
                                                    <mat-card-content>
                                                        <span class="card-badge">New</span>
                                                        <h3>{{cdata.heading}}</h3>
                                                        <p [innerHtml]='cdata.brief_description'></p>

                                                    </mat-card-content>
                                                    <mat-card-actions class="card-btn-group">
                                                        <div>
                                                            <div class="course-detials-container">
                                                                <div>
                                                                    <span>
                                                                        <app-starrating [rating]='cdata.rating'>
                                                                        </app-starrating>
                                                                    </span>
                                                                </div>
                                                                <div><span>Level:</span> {{cdata.level}}
                                                                    <mat-icon> bar_chart</mat-icon>
                                                                </div>
                                                                <div><span>Length: {{cdata.length}}</span></div>
                                                            </div>
                                                            <div class="card-btn-wrapper">
                                                                <div>By: Alex Mills</div>
                                                                <div>
                                                                    <!--  we need to fix the URL from API. API has to return the URL for these buttons  -->
                                                                    <a *ngFor="let b of cdata.availability; let i=index" mat-button class="btn-flat rounded">{{b}}</a>
                                                                    <!-- <a mat-button class="btn-orange rounded" href="#">Online</a></div> -->
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="text-center"><button mat-raised-button>Explore</button></div>
                                                        </div>
                                                    </mat-card-actions>
                                                </mat-card>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>

            <!-- end certification  -->

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <a mat-button class="link-orange" href="#"><span>See All</span>
                                <mat-icon aria-label="Example play_arrow icon">play_arrow</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Certification section end -->

        <!-- Awesome Instructor Carousel section begin -->
        <section class="stb-padding sb-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">Meet Some of Our Awesome Instructors</h2>
                        <div class="s3-padding-30">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide *ngFor="let i of homeData?.entry?.instructors_section.instructor">
                                    <div class="instructor-carousel">
                                        <div class="instructor-details instruct-col">
                                            <div class="">
                                                <p class="course-title">{{i.first_name}} {{i.middle_name}} {{i.last_name}}</p>
                                                <p [innerHtml]='i.bio'> </p>
                                                <div class="btn-wrapper">
                                                    <a mat-raised-button class="btn-orange">More About {{i.first_name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="instruct-col">
                                            <div class="instructor-avatar">
                                                <img class="image-square" mat-card-image src="{{i.image.url}}" alt="Picture">
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Awesome Instructor Carousel section end -->

        <!-- UpSkill Pathway Section begin -->
        <section class="stb-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <p>{{homeData?.entry.pathway_block[0].pathway_block_1.heading}}</p>
                            <h2 class="heading-orange">{{homeData?.entry.pathway_block[0].pathway_block_1.sub_heading}}
                            </h2>
                            <p>
                                {{homeData?.entry.pathway_block[0].pathway_block_1.description}}
                            </p>
                            <div class="btn-container">
                                <a mat-raised-button href="{{homeData?.entry.pathway_block[0].pathway_block_1.button_url}}" class="btn-orange">{{homeData?.entry.pathway_block[0].pathway_block_1.button_text}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pathway-card-container">
                            <h3 class="text-center">{{homeData?.entry.pathway_block[1].pathway_block_2.heading}}</h3>
                            <div class="pathway-container">
                                <div class="pathway-card" *ngFor="let p of homeData?.entry.pathway_block[1].pathway_block_2.pathway ">
                                    <p>{{p.heading}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <h4 class="text-center">Select a Pathway</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- UpSkill Pathway Section end -->

        <!-- Awesome Instructor Carousel section begin -->
        <section class="stb-padding sb-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="testimonials-container">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide *ngFor="let c of homeData?.entry?.testimonial_section.testimonial">
                                    <div class="instructor-carousel">
                                        <div class="instructor-details instruct-col">
                                            <div class="">
                                                <p class="course-title">{{c.heading}}</p>
                                                <p> {{c.feedback_text}} </p>

                                            </div>
                                        </div>

                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Awesome Instructor Carousel section end -->


        <!-- Partner Relationships section begin-->
        <section class="stb-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="client-heading">{{homeData?.entry.partner_relationships_section.heading}}</h2>
                        <div class="client-container">
                            <div class="client-logo">
                                <owl-carousel-o [options]="customOptionsClients">
                                    <ng-template carouselSlide *ngFor="let partner of homeData?.entry.partner_relationships_section.partner">
                                        <div class="clients"><img src="{{partner?.image_logo?.url}}" /></div>
                                    </ng-template>
                                </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Partner Relationships section end-->

        <!-- Site Footer -->
        <footer class="stb-padding bg-light-gray">
            <!-- 
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <ul role="list">
                            <li role="listitem"><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li role="listitem"><a href="#">Consectetur adipiscing elit</a></li>
                            <li role="listitem"><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li role="listitem"><a href="#">Dolore magna aliqua</a></li>
                            <li role="listitem"><a href="#">Ut enim ad minim veniams</a></li>
                        </ul>

                    </div>
                    <div class="col-sm-3">
                        <ul role="list">
                            <li role="listitem"><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li role="listitem"><a href="#">Consectetur adipiscing elit</a></li>
                            <li role="listitem"><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li role="listitem"><a href="#">Dolore magna aliqua</a></li>
                            <li role="listitem"><a href="#">Ut enim ad minim veniams</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul role="list">
                            <li role="listitem"><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li role="listitem"><a href="#">Consectetur adipiscing elit</a></li>
                            <li role="listitem"><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li role="listitem"><a href="#">Dolore magna aliqua</a></li>
                            <li role="listitem"><a href="#">Ut enim ad minim veniams</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul role="list">
                            <li role="listitem"><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li role="listitem"><a href="#">Consectetur adipiscing elit</a></li>
                            <li role="listitem"><a href="#">Sed do eiusmod tempor incididunt</a></li>
                            <li role="listitem"><a href="#">Dolore magna aliqua</a></li>
                            <li role="listitem"><a href="#">Ut enim ad minim veniams</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </footer>
        <!-- Site Footer -->

    </div>
</div>